{% extends 'base_workspace.html' %}
{% load humanize %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="name"
                                       value="{{ author.name }}" maxlength="100" autofocus>
                            {% else %}
                                <p class="form-control-static">{{ author.name }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="row form-button-row">
                            <div class="col-sm-12">
                        {% if CRUD == 'C' or CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:authors-list' %}">
                                    Volver
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:authors-read' author.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                        {% elif CRUD == 'D' %}
                            {% if author.can_be_deleted %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:authors-read' author.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if perms.songs.update_author and not author.row_deleted %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'songs:authors-update' author.pk %}">
                                    Modificar
                                </a>
                            {% endif %}
                            {% if perms.songs.delete_author %}
                                {% if author.row_deleted %}
                                <button type="submit" form="undoDelete" class="btn btn-danger">
                                    Restaurar
                                </button>
                                {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:authors-delete' author.pk %}">
                                    Eliminar
                                </a>
                                {% endif %}
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:authors-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

            {% if CRUD == 'R' %}
                {% if perms.songs.delete_author and author.row_deleted %}
                <form class="hidden" method="post" id="undoDelete"
                      action="{% url 'songs:authors-delete-undo' author.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Últimos cambios</strong>
                        {% if perms.songs.update_author %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'songs:authors-history' author.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in history_list %}
                                    <tr>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                            <small>
                                                ({{ elem.row_time_start|naturaltime }})
                                            </small>
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay eventos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>
        {% endblock %}
