{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" action="{% url 'songs:files-download-zip' %}">
                        {% csrf_token %}

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                {% with breadcrumb|last as e %}{{ e.0 }}{% endwith %}
                                <small>(Tamaño total de {{ sum_size|filesizeformat }})</small>
                            </span>
                            <div class="btn-group pull-right">
                                <a class="btn btn-sm btn-default" title="Filtros de búsqueda"
                                   href="#m_sf" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                                <button class="btn btn-sm btn-default" type="submit"
                                        title="Descargar archivos seleccionados">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </div>
                        </div>
                    {% if page.paginator.num_pages > 1 %}
                        {% include 'stub_paginator.html' with page=page params=sf only %}
                    {% endif %}
                        <div class="table-responsive">
                            <table class="table{% if page %} table-hover{% endif %}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Tipo</th>
                                        <th>Código</th>
                                        <th>Canción</th>
                                        <th>Última modificación</th>
                                        <th><span class="pull-right">Tamaño</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in page %}
                                    <tr>
                                        <td>
                                            <span class="pull-right">
                                                <strong>{{ forloop.counter }}</strong>
                                            </span>
                                        </td>
                                        <td>{{ elem.content_type|upper }}</td>
                                        <td>{{ elem.codename }}</td>
                                        <td>
                                            <a href="{% url 'songs:songs-read' elem.song.pk %}"
                                               title="Ir a la canción: {{ elem.download_name }}">
                                                {{ elem.song.pk }}.
                                                {{ elem.download_name|truncatechars:'50' }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ elem.row_time|date:'d-m-Y' }}
                                            a las {{ elem.row_time|date:'H:i' }} por
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="pull-right">
                                                {{ elem.size|filesizeformat }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="pull-right" title="Seleccionar para descarga">
                                                <input type="checkbox" name="files" value="{{ elem.pk }}">
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay elementos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </form>
                </div>
            </div>

            <!--search filter modal-->
            <div class="modal fade" id="m_sf" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Filtros de búsqueda</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="m_sf_form">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Texto</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" maxlength="50"
                                               id="m_sf_text" name="sf_text" value="{{ sf_text }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fechas</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" maxlength="10"
                                               id="m_sf_date_start" name="sf_date_start"
                                               value="{{ sf_date_start|date:'d-m-Y' }}">
                                    </div>
                                    <div class="col-sm-1">
                                        <p class="form-control-static">al</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" maxlength="10"
                                               id="m_sf_date_end" name="sf_date_end"
                                               value="{{ sf_date_end|date:'d-m-Y' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Tipo</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_type">
                                            <option value="A" {% if sf_type == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="pptx" {% if sf_type == 'pptx' %}selected{% endif %}>
                                                PPTX
                                            </option>
                                            <option value="xml" {% if sf_type == 'xml' %}selected{% endif %}>
                                                XML
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ordenar por</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_order">
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Canción, Tipo, Código
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Última modificación
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Tamaño
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="m_sf_form" class="btn btn-primary">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'js/base-list.js' %}"></script>
    {% endblock %}
