<!--{{ entity }} selection modal-->
            <div class="modal fade" id="m_{{ entity }}SelectionModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">
                                Agregar {% if entity == 'author' %}autor{% else %}himnario{% endif %}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" onsubmit="javascript:return false;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                    {% if entity == 'author' %}
                                        Autor
                                    {% else %}
                                        Himnario
                                    {% endif %}
                                    </label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="m_{{ entity }}sSelect">
                                        {% for e in list %}
                                            <option value="{{ e.pk }}">{{ e.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-2 checkbox">
                                        <label>
                                            <input type="checkbox" id="m_{{ entity }}NewCheckbox">
                                            nuevo
                                        </label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text"
                                               id="m_{{ entity }}NewNameInput" maxlength="100"
                                               placeholder="Nombre nuevo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        {% if entity == 'author' %}Tipo{% else %}Número{% endif %} (opcional)
                                    </label>
                                {% if entity == 'author' %}
                                    <div class="col-sm-2 col-xs-12 checkbox">
                                        <label>
                                            <input type="checkbox" id="m_authorOptional_m">
                                            música
                                        </label>
                                    </div>
                                    <div class="col-sm-2 col-xs-12 checkbox">
                                        <label>
                                            <input type="checkbox" id="m_authorOptional_w">
                                            letra
                                        </label>
                                    </div>
                                    <div class="col-sm-2 col-xs-12 checkbox">
                                        <label>
                                            <input type="checkbox" id="m_authorOptional_t">
                                            traducción
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" maxlength="5"
                                               id="m_songbookOptional_entry">
                                    </div>
                                {% endif %}
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    id="m_{{ entity }}AddButton">
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
