{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                        {% if song_lyrics.title_de %}
                            <div class="col-sm-1">
                                <p class="form-control-static"><strong>Título</strong></p>
                            </div>
                            <div class="col-sm-2">
                                <p class="form-control-static text-success">
                                    <strong>
                                    {% if song_lyrics.singable_de %}
                                        <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                    {% endif %}
                                        deutsch
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ song_lyrics.title_de }}</p>
                            </div>
                        {% endif %}
                        {% if song_lyrics.title_en %}
                            <div class="col-sm-2 col-sm-offset-1">
                                <p class="form-control-static text-danger">
                                    <strong>
                                    {% if song_lyrics.singable_en %}
                                        <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                    {% endif %}
                                        english
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ song_lyrics.title_en }}</p>
                            </div>
                        {% endif %}
                        {% if song_lyrics.title_es %}
                            <div class="col-sm-2 col-sm-offset-1">
                                <p class="form-control-static text-primary">
                                    <strong>
                                    {% if song_lyrics.singable_es %}
                                        <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                    {% endif %}
                                        español
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ song_lyrics.title_es }}</p>
                            </div>
                        {% endif %}
                        </div>

                        <hr class="hr-horizontal-divider">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Autores</label>
                            <div class="col-sm-8" id="author_div"></div>
                            <div class="col-sm-2">
                                <a class="btn btn-xs btn-primary pull-right" title="Agregar autor"
                                   href="#m_authorSelectionModal" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                            <div class="hidden">
                                <div class="row author-row" id="author_row_base">
                                    <div class="col-sm-12">
                                        <p class="form-control-static">
                                            <span class="author-pk hidden"></span>
                                            <span class="author-name"></span>
                                            <a class="author-row-remove" href="javascript:void(0);">
                                                <span title="Quitar">&times;</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                {# hidden select that contains the data that will be sent in POST #}
                                <select name="authors" id="authors_select" multiple>
                                {% for e in song_properties.songauthor_set.all %}
                                    <option value="{{ e.author.pk }}-{{ e.type }}${{ e }}" selected></option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             title="Este contenido aparecerá en el PPTX">
                            <label class="col-sm-2 control-label">Himnarios</label>
                            <div class="col-sm-8" id="songbook_div"></div>
                            <div class="col-sm-2">
                                <a class="btn btn-xs btn-primary pull-right" title="Agregar himnario"
                                   href="#m_songbookSelectionModal" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                            <div class="hidden">
                                <div class="row songbook-row" id="songbook_row_base">
                                    <div class="col-sm-12">
                                        <p class="form-control-static">
                                            <span class="songbook-pk hidden"></span>
                                            <span class="songbook-name"></span>
                                            <a class="songbook-row-remove" href="javascript:void(0);">
                                                <span title="Quitar">&times;</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                {# hidden select that contains the data that will be sent in POST #}
                                <select name="songbooks" id="songbooks_select" multiple>
                                {% for e in song_properties.songsongbook_set.all %}
                                    <option value="{{ e.songbook.pk }}-{{ e.entry }}${{ e }}" selected></option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             title="CCLI: Christian Copyright Licensing International">
                            <label class="col-sm-2 control-label">Número CCLI</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" name="ccli_no"
                                       value="{{ song_properties.ccli_no }}"
                                       min="0">
                            </div>
                        </div>
                        <div class="form-group"
                             title="Sirve para distinguir canciones con el mismo título">
                            <label class="col-sm-2 control-label">Variante</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="variant"
                                       value="{{ song_properties.variant }}"
                                       maxlength="25" autofocus>
                            </div>
                        </div>
                        <div class="form-group"
                             title="Sirve para indicar que hubo cambios significantes">
                            <label class="col-sm-2 control-label">Versión</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="version"
                                       value="{{ song_properties.version }}"
                                       maxlength="25">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de publicación</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="released"
                                       value="{{ song_properties.released }}"
                                       maxlength="25">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Publicador</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="publisher"
                                       value="{{ song_properties.publisher }}"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="form-group" title="Este contenido aparecerá en el PPTX">
                            <label class="col-sm-2 control-label">Copyright</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="copyright"
                                       value="{{ song_properties.copyright }}"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Palabras clave</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="keywords"
                                       value="{{ song_properties.keywords }}"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="form-group"
                             title="Ingrese temas separados por punto y coma (;)">
                            <label class="col-sm-2 control-label">Temas</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="themes"
                                       value="{{ song_properties.themes }}"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="form-group"
                             title="Ingrese comentarios separados por punto y coma (;)">
                            <label class="col-sm-2 control-label">Comentarios</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="comments"
                                       value="{{ song_properties.comments }}"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tonalidad</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="key"
                                       value="{{ song_properties.key }}"
                                       maxlength="25">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Transposición</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" name="transposition"
                                       value="{{ song_properties.transposition }}"
                                       min="-99" max="99">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ritmo</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="tempo"
                                       value="{{ song_properties.tempo }}"
                                       maxlength="25">
                            </div>
                        </div>

                        <hr class="hr-horizontal-divider">

                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:songs-read' song.pk %}">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% include 'songs/song_update_modal_1.html' with entity='author' list=author_list only %}
            {% include 'songs/song_update_modal_1.html' with entity='songbook' list=songbook_list only %}
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'songs/js/song_update_properties_form.js' %}"></script>
    {% endblock %}
