{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                {% with breadcrumb|last as e %}{{ e.0 }}{% endwith %}
                            </span>
                            <div class="btn-group pull-right">
                                <a class="btn btn-sm btn-default" title="Filtros de búsqueda"
                                   href="#m_sf" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            {% if perms.songs.create_songbook %}
                                <a class="btn btn-sm btn-default" title="Crear nuevo himnario"
                                   href="{% url 'songs:songbooks-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                            {% if perms.songs.delete_songbook %}
                                <a class="btn btn-sm btn-default" title="Ver himnarios eliminados"
                                   href="{% url 'songs:songbooks-list-deleted' %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    {% if page.paginator.num_pages > 1 %}
                        {% include 'stub_paginator.html' with page=page params=sf only %}
                    {% endif %}
                        <div class="table-responsive">
                            <table class="table{% if page %} table-hover{% endif %}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Nombre</th>
                                        <th>Canciones</th>
                                        <th>Número</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in page %}
                                    <tr class="clickable-row" data-href="{{ elem.url|default:'#' }}">
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.is_header %}
                                                <span class="pull-right">
                                                    <strong>{{ elem.counter }}</strong>
                                                </span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.is_header %}
                                                <span title="{{ elem.name }}">
                                                    {{ elem.name|truncatechars:50 }}
                                                </span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if not elem.is_header %}
                                                <span title="{{ elem.song_title }}">
                                                    {{ elem.counter }}.
                                                    {{ elem.song_title|truncatechars:30 }}
                                                </span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if not elem.is_header %}
                                                {{ elem.entry }}
                                            {% endif %}
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay elementos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--search filter modal-->
            <div class="modal fade" id="m_sf" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Filtros de búsqueda</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="m_sf_form">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Texto</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" maxlength="50"
                                               id="m_sf_text" name="sf_text" value="{{ sf_text }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ordenar por</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_order">
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Nombre
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="m_sf_form" class="btn btn-primary">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'js/base-list.js' %}"></script>
    {% endblock %}
