{% extends 'base_list.html' %}

                                    {% block table_header %}
                                        <th><span class="text-success">Título DE</span></th>
                                        <th><span class="text-danger">Título EN</span></th>
                                        <th><span class="text-primary">Título ES</span></th>
                                        <th>Fecha de eliminación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                        {% if elem.singable_de %}
                                            <span class="text-success">
                                                <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                            </span>
                                        {% endif %}
                                            <span title="{{ elem.title_de }}">
                                                {{ elem.title_de|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if elem.singable_en %}
                                            <span class="text-danger">
                                                <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                            </span>
                                        {% endif %}
                                            <span title="{{ elem.title_en }}">
                                                {{ elem.title_en|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if elem.singable_es %}
                                            <span class="text-primary">
                                                <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                            </span>
                                        {% endif %}
                                            <span title="{{ elem.title_es }}">
                                                {{ elem.title_es|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha de eliminación
                                            </option>
                                        {% endblock %}
