{% extends 'base_list.html' %}

                                    {% block table_header %}
                                        <th>Nombre</th>
                                        <th>Fecha de eliminación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.name }}">
                                                    {{ elem.name|truncatechars:50 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.row_time_start|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.row_time_start|date:'H:i' }}
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha de eliminación
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Nombre
                                            </option>
                                        {% endblock %}
