{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                        {% if song_lyrics.title_de %}
                            <div class="col-sm-1">
                                <p class="form-control-static"><strong>Título</strong></p>
                            </div>
                            <div class="col-sm-2">
                                <p class="form-control-static text-success">
                                    <strong>
                                    {% if song_lyrics.singable_de %}
                                        <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                    {% endif %}
                                        deutsch
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ song_lyrics.title_de }}</p>
                            </div>
                        {% endif %}
                        {% if song_lyrics.title_en %}
                            <div class="col-sm-2 col-sm-offset-1">
                                <p class="form-control-static text-danger">
                                    <strong>
                                    {% if song_lyrics.singable_en %}
                                        <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                    {% endif %}
                                        english
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ song_lyrics.title_en }}</p>
                            </div>
                        {% endif %}
                        {% if song_lyrics.title_es %}
                            <div class="col-sm-2 col-sm-offset-1">
                                <p class="form-control-static text-primary">
                                    <strong>
                                    {% if song_lyrics.singable_es %}
                                        <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                    {% endif %}
                                        español
                                    </strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ song_lyrics.title_es }}</p>
                            </div>
                        {% endif %}
                        </div>
                    {% if CRUD == 'R' %}
                        <div class="form-group">
                            <div class="col-sm-3">
                                <p class="form-control-static">
                                    <strong>Orden de presentación</strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{ song_lyrics.verse_order }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if CRUD == 'R' %}
                        <div class="panel-group" id="accordion" role="tablist">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <span class="panel-title">
                                        <a class="collapsed" role="button" href="#collapseOne"
                                           data-toggle="collapse" data-parent="#accordion">
                                            Propiedades
                                        </a>
                                    </span>
                                    <div class="btn-group pull-right">
                                    {% if perms.songs.update_song and not song.row_deleted %}
                                        <a class="btn btn-sm btn-default" title="Modificar propiedades"
                                           href="{% url 'songs:songs-update-properties' song.pk %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    {% endif %}
                                    {% if perms.songs.update_song %}
                                        <a class="btn btn-sm btn-default" title="Ver historial de cambios"
                                           href="{% url 'songs:songs-history-properties' song.pk %}">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </a>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="panel-collapse collapse" id="collapseOne" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Autores</label>
                                            <div class="col-sm-10">
                                            {% for e in author_list %}
                                                <p class="form-control-static">{{ e }}</p>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group bg-info"
                                             title="Este contenido aparecerá en el PPTX">
                                            <label class="col-sm-2 control-label">Himnarios</label>
                                            <div class="col-sm-10">
                                            {% for e in songbook_list %}
                                                <p class="form-control-static">{{ e }}</p>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             title="CCLI: Christian Copyright Licensing International">
                                            <label class="col-sm-2 control-label">Número CCLI</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.ccli_no }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             title="Sirve para distinguir canciones con el mismo título">
                                            <label class="col-sm-2 control-label">Variante</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.variant }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             title="Sirve para indicar que hubo cambios significantes">
                                            <label class="col-sm-2 control-label">Versión</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.version }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Fecha de publicación</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.released }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Publicador</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.publisher }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group bg-info"
                                             title="Este contenido aparecerá en el PPTX">
                                            <label class="col-sm-2 control-label">Copyright</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.copyright }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Palabras clave</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.keywords }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Temas</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.themes }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Comentarios</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.comments }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Tonalidad</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.key }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Transposición</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.transposition }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Ritmo</label>
                                            <div class="col-sm-10">
                                                <p class="form-control-static">
                                                    {{ song_properties.tempo }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-muted">
                                                Modificado por última vez el
                                                <strong>{{ song_properties.row_time_start|date:'d-m-Y' }}</strong>
                                                a las
                                                <strong>{{ song_properties.row_time_start|date:'H:i' }}</strong>
                                                por
                                                <strong title="{{ song_properties.row_user_insert.profile }}">
                                                    {{ song_properties.row_user_insert.profile|truncatechars:20 }}
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <span class="panel-title">
                                        <a role="button" href="#collapseTwo"
                                           data-toggle="collapse" data-parent="#accordion">
                                            Estrofas
                                        </a>
                                    </span>
                                    <div class="btn-group pull-right">
                                        <div class="btn-group" title="Orden">
                                            <button class="btn btn-sm btn-default dropdown-toggle"
                                                    type="button" data-toggle="dropdown">
                                                <strong>
                                                    Ordenar por
                                                    {% if verse_ordering == 'language' %}idioma{% else %}nombre{% endif %}
                                                </strong>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li {% if verse_ordering == 'language' %}class="disabled"{% endif %}>
                                                    <a href="?verse_ordering=language">idioma</a>
                                                </li>
                                                <li {% if verse_ordering == 'name' %}class="disabled"{% endif %}>
                                                    <a href="?verse_ordering=name">nombre</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% if perms.songs.update_song and not song.row_deleted %}
                                        <a class="btn btn-sm btn-default" title="Modificar estrofas"
                                           href="{% url 'songs:songs-update-lyrics' song.pk %}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    {% endif %}
                                    {% if perms.songs.update_song %}
                                        <a class="btn btn-sm btn-default" title="Ver historial de cambios"
                                           href="{% url 'songs:songs-history-lyrics' song.pk %}">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </a>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="panel-collapse collapse in" id="collapseTwo" role="tabpanel">
                                    <div class="panel-body">
                                    {% for v in verse_list %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label verse-row-read-form">
                                                {% if v.language == 'de' %}
                                                    <span class="text-success">{{ v.language }}:</span>
                                                {% elif v.language == 'en' %}
                                                    <span class="text-danger">{{ v.language }}:</span>
                                                {% elif v.language == 'es' %}
                                                    <span class="text-primary">{{ v.language }}:</span>
                                                {% else %}
                                                    <span class="text-warning">{{ v.language }}:</span>
                                                {% endif %}
                                                {{ v.name }}
                                            </label>
                                            <div class="col-sm-10">
                                            {% for lg in v.content_lines %}
                                                {% for line in lg %}
                                                <p class="form-control-static verse-row-read-form">{{ line }}</p>
                                                {% endfor %}
                                                {% if not forloop.last %}
                                                <p class="form-control-static verse-row-read-form"
                                                   title="El contenido después de esta línea ya pasará a una nueva diapositiva">
                                                    ---
                                                </p>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    {% empty %}
                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2">
                                                <p class="form-control-static">
                                                    No hay estrofas para mostrar
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        <div class="row">
                                            <div class="col-sm-12 text-muted">
                                                Modificado por última vez el
                                                <strong>{{ song_lyrics.row_time_start|date:'d-m-Y' }}</strong>
                                                a las
                                                <strong>{{ song_lyrics.row_time_start|date:'H:i' }}</strong>
                                                por
                                                <strong title="{{ song_lyrics.row_user_insert.profile }}">
                                                    {{ song_lyrics.row_user_insert.profile|truncatechars:20 }}
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                        <div class="row">
                            <div class="col-sm-12">
                        {% if CRUD == 'D' %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:songs-read' song.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if not song.row_deleted %}
                                <a class="btn btn-danger" role="button" title="Descargar PPTX"
                                   href="#m_pptxCreationModal" data-toggle="modal">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    PPTX
                                </a>
                                <a class="btn btn-default" role="button"
                                   title="Descargar XML en formato OpenLyrics"
                                   href="{% url 'songs:songs-xml' song.pk %}" target="_blank">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    XML
                                </a>
                            {% endif %}
                            {% if perms.songs.delete_song %}
                                {% if song.row_deleted %}
                                <button type="submit" form="undoDelete" class="btn btn-danger">
                                    Restaurar
                                </button>
                                {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:songs-delete' song.pk %}">
                                    Eliminar
                                </a>
                                {% endif %}
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:songs-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        {% if CRUD == 'R' %}
            {% if perms.songs.delete_song and song.row_deleted %}
            <form class="hidden" method="post" id="undoDelete"
                  action="{% url 'songs:songs-delete-undo' song.pk %}">
                {% csrf_token %}
            </form>
            {% endif %}

            {% include 'songs/song_read_modal_pptx.html' with song_lyrics=song_lyrics styles=presentation_styles only %}
        {% endif %}
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'songs/js/song_read_form.js' %}"></script>
    {% endblock %}
