{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p class="form-control-static text-justify">
                                    Mediante esta interfaz puede importar canciones ya existentes.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">Tipo de archivo</label>
                            <div class="col-sm-12">
                                <div class="radio text-justify">
                                    <label>
                                        <input type="radio" name="file_type" value="xml" checked>
                                        <strong>XML:</strong>
                                        Debe subir un archivo que contenga una canción en formato
                                        <a href="http://openlyrics.info/">OpenLyrics</a>,
                                        un estándar abierto para canciones cristianas.
                                    </label>
                                </div>
                                <div class="radio text-justify">
                                    <label>
                                        <input type="radio" name="file_type" value="pptx">
                                        <strong>PPTX:</strong>
                                        El contenido de la primera diapositiva de la presentación
                                        será el título de la canción y de las demás diapositivas
                                        se extraerá las estrofas.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">Archivo</label>
                            <div class="col-sm-12">
                                <input type="file" name="song_file">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Subir y guardar</button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:songs-list' %}">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
