{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-1">
                                <p class="form-control-static"><strong>Título</strong></p>
                            </div>

                            <div class="col-sm-2">
                                <p class="form-control-static">
                                    <strong><span class="text-success">deutsch</span></strong>
                                </p>
                            </div>
                            <div class="col-sm-1 checkbox">
                                <label class="text-success" title="Versión cantable">
                                    <input type="checkbox" name="singable_de"
                                           id="check_singable_de" value="True"
                                           {% if song_lyrics.singable_de %}checked{% endif %}>
                                    <span class="glyphicon glyphicon-music"></span>
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="title_de"
                                       value="{{ song_lyrics.title_de }}" maxlength="100" autofocus>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1">
                                <p class="form-control-static">
                                    <strong><span class="text-danger">english</span></strong>
                                </p>
                            </div>
                            <div class="col-sm-1 checkbox">
                                <label class="text-danger" title="Versión cantable">
                                    <input type="checkbox" name="singable_en"
                                           id="check_singable_en" value="True"
                                           {% if song_lyrics.singable_en %}checked{% endif %}>
                                    <span class="glyphicon glyphicon-music"></span>
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="title_en"
                                       value="{{ song_lyrics.title_en }}" maxlength="100">
                            </div>

                            <div class="col-sm-2 col-sm-offset-1">
                                <p class="form-control-static">
                                    <strong><span class="text-primary">español</span></strong>
                                </p>
                            </div>
                            <div class="col-sm-1 checkbox">
                                <label class="text-primary" title="Versión cantable">
                                    <input type="checkbox" name="singable_es"
                                           id="check_singable_es" value="True"
                                           {% if song_lyrics.singable_es %}checked{% endif %}>
                                    <span class="glyphicon glyphicon-music"></span>
                                </label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="title_es"
                                       value="{{ song_lyrics.title_es }}" maxlength="100">
                            </div>
                        </div>

                        <div class="form-group"
                             title="Ingrese los nombres de las estrofas separados por espacios">
                            <div class="col-sm-3">
                                <p class="form-control-static">
                                    <strong>Orden de presentación</strong>
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" name="verse_order"
                                       value="{{ song_lyrics.verse_order }}" maxlength="100">
                            </div>
                        </div>

                        <hr class="hr-horizontal-divider">

                        <div id="verse_div">
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <a class="btn btn-xs btn-primary pull-right" title="Agregar estrofa"
                                   href="#m_verseAdditionModal" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                            {# hidden select that contains data that will be sent in POST #}
                            <div class="hidden">
                                <div class="form-group verse-row" id="verse_row_base">
                                    <label class="col-sm-2 control-label">
                                        <a class="verse-row-rename" title="Cambiar nombre o idioma"
                                           href="javascript:void(0);" data-toggle="modal"
                                           data-target="#m2_verseRenamingModal" data-my-content="">
                                            <span class="verse-row-language"></span>
                                            <span class="verse-row-name"></span>
                                        </a>
                                        <a class="verse-row-remove pull-right" href="javascript:void(0);">
                                            <span title="Quitar">&times;</span>
                                        </a>
                                    </label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="6" maxlength="1000"
                                                  title="Una línea vacía dividirá el contenido en varias diapositivas"></textarea>
                                    </div>
                                </div>
                                <select name="verses" id="verses_select" multiple>
                                {% for v in verse_list %}
                                    <option value="{{ v.language }}:{{ v.name }}"
                                            data-my-content="{{ v.content_for_modification }}"
                                            selected></option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <hr class="hr-horizontal-divider">

                    {% if CRUD == 'C' %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p class="form-control-static">
                                    Las propiedades de la canción (autores, himnarios, entre otras)
                                    podrán ser editadas después de crear la canción.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:songs-list' %}">
                                    Cancelar
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:songs-read' song.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% include 'songs/song_update_modal_verse.html' only %}
            {% include 'songs/song_update_modal_verse_rename.html' only %}
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'songs/js/song_update_lyrics_form.js' %}"></script>
    {% endblock %}
