{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                Historial de cambios de estrofas
                            </span>
                        </div>
                    {% if page.paginator.num_pages > 1 %}
                        {% include 'stub_paginator.html' with page=page params='' only %}
                    {% endif %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th><span class="text-success">Título DE</span></th>
                                        <th><span class="text-danger">Título EN</span></th>
                                        <th><span class="text-primary">Título ES</span></th>
                                        <th>Órden</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in page %}
                                    <tr class="active">
                                        <td>
                                            <span class="pull-right">
                                                <strong>{{ forloop.counter }}</strong>
                                            </span>
                                        </td>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if elem.singable_de %}
                                            <span class="text-success">
                                                <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                            </span>
                                        {% endif %}
                                            <span title="{{ elem.title_de }}">
                                                {{ elem.title_de|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if elem.singable_en %}
                                            <span class="text-danger">
                                                <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                            </span>
                                        {% endif %}
                                            <span title="{{ elem.title_en }}">
                                                {{ elem.title_en|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if elem.singable_es %}
                                            <span class="text-primary">
                                                <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                            </span>
                                        {% endif %}
                                            <span title="{{ elem.title_es }}">
                                                {{ elem.title_es|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.verse_order }}">
                                                {{ elem.verse_order|truncatechars:20 }}
                                            </span>
                                        </td>
                                    </tr>
                                    {% for v in elem.verses.all %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <small>
                                            {% if v.language == 'de' %}
                                                <span class="text-success">{{ v.language }}:</span>
                                            {% elif v.language == 'en' %}
                                                <span class="text-danger">{{ v.language }}:</span>
                                            {% elif v.language == 'es' %}
                                                <span class="text-primary">{{ v.language }}:</span>
                                            {% else %}
                                                <span class="text-warning">{{ v.language }}:</span>
                                            {% endif %}
                                                {{ v.name }}
                                            </small>
                                        </td>
                                        <td colspan="6" class="text-muted">
                                            <small>
                                            {% for lg in v.content_lines %}
                                                {{ lg|join:' | ' }}
                                                {% if not forloop.last %}<br>{% endif %}
                                            {% endfor %}
                                            </small>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay eventos para mostrar</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
