<!--PPTX creation modal-->
            <div class="modal fade" id="m_pptxCreationModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">
                                Descargar PPTX
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" onsubmit="javascript:return false;">
                                <div class="hidden">
                                    <input type="text" id="m_downloadUrl" maxlength="1000"
                                           value="{% url 'songs:songs-pptx' song_lyrics.song.pk %}">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        Idioma 1
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="m_songLanguage1">
                                        {% if song_lyrics.title_de %}
                                            <option value="de">deutsch</option>
                                        {% endif %}
                                        {% if song_lyrics.title_en %}
                                            <option value="en">english</option>
                                        {% endif %}
                                        {% if song_lyrics.title_es %}
                                            <option value="es">español</option>
                                        {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" title="El segundo idioma es opcional">
                                    <label class="col-sm-4 control-label">
                                        Idioma 2
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="m_songLanguage2">
                                            <option value="--">(ninguno)</option>
                                        {% if song_lyrics.title_de %}
                                            <option value="de">deutsch</option>
                                        {% endif %}
                                        {% if song_lyrics.title_en %}
                                            <option value="en">english</option>
                                        {% endif %}
                                        {% if song_lyrics.title_es %}
                                            <option value="es">español</option>
                                        {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        Estilo
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="m_songStyle">
                                        {% for s in styles %}
                                            <option value="{{ s.pk }}" {% if s.pk == 3 %}selected{% endif %}>
                                                {{ s.name }}
                                            </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    id="m_confirmDownload">
                                Descargar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
