{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                Historial de cambios de propiedades
                            </span>
                        </div>
                    {% if page.paginator.num_pages > 1 %}
                        {% include 'stub_paginator.html' with page=page params='' only %}
                    {% endif %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in page %}
                                    <tr class="active">
                                        <td>
                                            <span class="pull-right">
                                                <strong>{{ forloop.counter }}</strong>
                                            </span>
                                        </td>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td colspan="2">
                                            <strong>Autores:</strong>
                                            <span title="{{ elem.songauthor_set.all|join:'; ' }}">
                                                {{ elem.songauthor_set.all|join:'; '|truncatechars:100 }}
                                            </span>
                                        </td>
                                        <td colspan="2">
                                            <strong>Himnarios:</strong>
                                            <span title="{{ elem.songsongbook_set.all|join:'; ' }}">
                                                {{ elem.songsongbook_set.all|join:'; '|truncatechars:100 }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <strong>CCLI:</strong>
                                            {{ elem.ccli_no }}
                                        </td>
                                        <td>
                                            <strong>Variante:</strong>
                                            {{ elem.variant }}
                                        </td>
                                        <td>
                                            <strong>Versión:</strong>
                                            {{ elem.version }}
                                        </td>
                                        <td>
                                            <strong>Publicación:</strong>
                                            {{ elem.released }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <strong>Publicador:</strong>
                                            <span title="{{ elem.publisher }}">
                                                {{ elem.publisher|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <strong>Copyright:</strong>
                                            <span title="{{ elem.copyright }}">
                                                {{ elem.copyright|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <strong>Palabras clave:</strong>
                                            <span title="{{ elem.keywords }}">
                                                {{ elem.keywords|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <strong>Temas:</strong>
                                            <span title="{{ elem.themes }}">
                                                {{ elem.themes|truncatechars:30 }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <strong>Comentarios:</strong>
                                            <span title="{{ elem.comments }}">
                                                {{ elem.comments|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <strong>Tonalidad:</strong>
                                            {{ elem.key }}
                                        </td>
                                        <td>
                                            <strong>Transposición:</strong>
                                            {{ elem.transposition }}
                                        </td>
                                        <td>
                                            <strong>Ritmo:</strong>
                                            {{ elem.tempo }}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay eventos para mostrar</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
