{% extends 'base_workspace.html' %}
{% load staticfiles %}

    {% block css %}
        {{ block.super }}
        <style type="text/css" id="customSongListCss">
            .initially-hidden-row {
                display: none !important;
            }
        </style>
    {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                {% with breadcrumb|last as e %}{{ e.0 }}{% endwith %}
                            </span>
                            <div class="btn-group pull-right">
                            {% if perms.songs.create_song %}
                                <a class="btn btn-sm btn-default" title="Crear nueva canción"
                                   href="{% url 'songs:songs-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a class="btn btn-sm btn-default" title="Subir nueva canción"
                                   href="{% url 'songs:songs-create-from-file' %}">
                                    <span class="glyphicon glyphicon-arrow-up"></span>
                                </a>
                            {% endif %}
                            {% if perms.songs.delete_song %}
                                <a class="btn btn-sm btn-default" title="Ver canciones eliminadas"
                                   href="{% url 'songs:songs-list-deleted' %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table my-footable">
                                <thead>
                                    <tr>
                                        <th data-filterable="false">Idioma</th>
                                        <th>Título</th>
                                        <th>Autor</th>
                                        <th>Himnario</th>
                                        <th>Variante</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in song_list %}
                                    <tr class="clickable-row initially-hidden-row" data-href="{{ elem.url|default:'#' }}">
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.language == 'de' %}
                                                <span class="text-success">
                                                    deutsch
                                            {% elif elem.language == 'en' %}
                                                <span class="text-danger">
                                                    english
                                            {% else %}
                                                <span class="text-primary">
                                                    español
                                            {% endif %}
                                                {% if elem.singable %}
                                                    <span class="glyphicon glyphicon-music" title="Versión cantable"></span>
                                                {% endif %}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.title }}">
                                                    {{ elem.title|truncatechars:60 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.authors }}">
                                                    {{ elem.authors|truncatechars:40 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.songbooks }}">
                                                    {{ elem.songbooks|truncatechars:40 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.variant }}
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay elementos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'songs/js/song_list.js' %}"></script>
    {% endblock %}
