<!--verse renaming modal-->
            <div class="modal fade" id="m2_verseRenamingModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">
                                Cambiar nombre de estrofa
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" onsubmit="javascript:return false;">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        Idioma
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="m2_languageSelect">
                                            <option value="de">deutsch</option>
                                            <option value="en">english</option>
                                            <option value="es">español</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">
                                        Nombre
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="m2_nameSelect">
                                            <option value="v">(v) estrofa</option>
                                            <option value="p">(p) pre-coro</option>
                                            <option value="c">(c) coro</option>
                                            <option value="b">(b) bridge</option>
                                            <option value="e">(e) final</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-4"
                                         title="Se omitirá el número de estrofa si está en 0">
                                        <input class="form-control" type="number" id="m2_nameInput"
                                               value="0" min="0" max="99">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    id="m2_confirmRenameVerse">
                                Cambiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
