{% extends 'base_list.html' %}
{% load humanize %}

                        {% block panel_buttons %}
                            {% if perms.songs.create_style %}
                                <a class="btn btn-sm btn-default" title="Crear nuevo estilo"
                                   href="{% url 'songs:styles-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                        {% endblock %}

                                    {% block table_header %}
                                        <th>Nombre</th>
                                        <th>Última modificación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.name }}">
                                                    {{ elem.name|truncatechars:50 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.row_time_update|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.row_time_update|date:'H:i' }}
                                                <small>
                                                    ({{ elem.row_time_update|naturaltime }})
                                                </small>
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Nombre
                                            </option>
                                        {% endblock %}
