{% extends 'base_workspace.html' %}
{% load staticfiles %}

    {% block css %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'bs-colorpicker/css/bootstrap-colorpicker.min.css' %}">
    {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="name"
                                       value="{{ style.name }}"
                                       maxlength="20" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estilo base</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="base_file_name">
                                {% for e in base_file_name_list %}
                                    <option value="{{ forloop.counter0 }}"
                                            {% if e.0 == style.base_file_name %}selected{% endif %}>
                                        {{ e.1 }}
                                    </option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo de letra</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="font_name"
                                       value="{{ style.font_name }}"
                                       maxlength="100" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Título 1</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static"><i>Color del idioma 1</i></p>
                            </div>
                            <div class="col-sm-2" title="Tamaño de letra">
                                <input class="form-control" type="number" name="font_size_title_1"
                                       min="10" max="60" value="{{ style.font_size_title_1 }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Título 2</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static"><i>Color del idioma 2</i></p>
                            </div>
                            <div class="col-sm-2" title="Tamaño de letra">
                                <input class="form-control" type="number" name="font_size_title_2"
                                       min="10" max="60" value="{{ style.font_size_title_2 }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Idioma 1</label>
                            <div class="col-sm-4" title="Color">
                                <div class="input-group my-colorpicker">
                                    <span class="input-group-addon"><i></i></span>
                                    <input class="form-control" type="text" name="color_language_1"
                                           value="rgb{{ style.color_language_1 }}">
                                </div>
                            </div>
                            <div class="col-sm-2" title="Tamaño de letra">
                                <input class="form-control" type="number" name="font_size_language_1"
                                       min="10" max="60" value="{{ style.font_size_language_1 }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Idioma 2</label>
                            <div class="col-sm-4" title="Color">
                                <div class="input-group my-colorpicker">
                                    <span class="input-group-addon"><i></i></span>
                                    <input class="form-control" type="text" name="color_language_2"
                                           value="rgb{{ style.color_language_2 }}">
                                </div>
                            </div>
                            <div class="col-sm-2" title="Tamaño de letra">
                                <input class="form-control" type="number" name="font_size_language_2"
                                       min="10" max="60" value="{{ style.font_size_language_2 }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Himnario</label>
                            <div class="col-sm-4" title="Color">
                                <div class="input-group my-colorpicker">
                                    <span class="input-group-addon"><i></i></span>
                                    <input class="form-control" type="text" name="color_songbook"
                                           value="rgb{{ style.color_songbook }}">
                                </div>
                            </div>
                            <div class="col-sm-2" title="Tamaño de letra">
                                <input class="form-control" type="number" name="font_size_songbook"
                                       min="10" max="60" value="{{ style.font_size_songbook }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Copyright</label>
                            <div class="col-sm-4" title="Color">
                                <div class="input-group my-colorpicker">
                                    <span class="input-group-addon"><i></i></span>
                                    <input class="form-control" type="text" name="color_copyright"
                                           value="rgb{{ style.color_copyright }}">
                                </div>
                            </div>
                            <div class="col-sm-2" title="Tamaño de letra">
                                <input class="form-control" type="number" name="font_size_copyright"
                                       min="10" max="60" value="{{ style.font_size_copyright }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre de estrofa</label>
                            <div class="col-sm-4" title="Color">
                                <div class="input-group my-colorpicker">
                                    <span class="input-group-addon"><i></i></span>
                                    <input class="form-control" type="text" name="color_slide_name"
                                           value="rgb{{ style.color_slide_name }}">
                                </div>
                            </div>
                            <div class="col-sm-2" title="Tamaño de letra">
                                <input class="form-control" type="number" name="font_size_slide_name"
                                       min="10" max="60" value="{{ style.font_size_slide_name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:styles-list' %}">
                                    Cancelar
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:styles-read' style.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    {% if CRUD != 'C' %}
                        {% include 'stub_crud_access_info.html' with elem=style only %}
                    {% endif %}
                    </form>
                </div>
            </div>
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'bs-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
        <script src="{% static 'songs/js/style_update_form.js' %}"></script>
    {% endblock %}
