{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ style.name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estilo base</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ style.get_base_file_name_display }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo de letra</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ style.font_name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Título 1</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static"><i>Color del idioma 1</i></p>
                            </div>
                            <div class="col-sm-6" title="Tamaño de letra">
                                <p class="form-control-static">{{ style.font_size_title_1 }} pts</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Título 2</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static"><i>Color del idioma 2</i></p>
                            </div>
                            <div class="col-sm-6" title="Tamaño de letra">
                                <p class="form-control-static">{{ style.font_size_title_2 }} pts</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Idioma 1</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static">
                                    <span style="background-color: rgb{{ style.color_language_1 }};"
                                          class="my-color"></span>
                                    rgb {{ style.color_language_1 }}
                                </p>
                            </div>
                            <div class="col-sm-6" title="Tamaño de letra">
                                <p class="form-control-static">{{ style.font_size_language_1 }} pts</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Idioma 2</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static">
                                    <span style="background-color: rgb{{ style.color_language_2 }};"
                                          class="my-color"></span>
                                    rgb {{ style.color_language_2 }}
                                </p>
                            </div>
                            <div class="col-sm-6" title="Tamaño de letra">
                                <p class="form-control-static">{{ style.font_size_language_2 }} pts</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Himnario</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static">
                                    <span style="background-color: rgb{{ style.color_songbook }};"
                                          class="my-color"></span>
                                    rgb {{ style.color_songbook }}
                                </p>
                            </div>
                            <div class="col-sm-6" title="Tamaño de letra">
                                <p class="form-control-static">{{ style.font_size_songbook }} pts</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Copyright</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static">
                                    <span style="background-color: rgb{{ style.color_copyright }};"
                                          class="my-color"></span>
                                    rgb {{ style.color_copyright }}
                                </p>
                            </div>
                            <div class="col-sm-6" title="Tamaño de letra">
                                <p class="form-control-static">{{ style.font_size_copyright }} pts</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre de estrofa</label>
                            <div class="col-sm-4" title="Color">
                                <p class="form-control-static">
                                    <span style="background-color: rgb{{ style.color_slide_name }};"
                                          class="my-color"></span>
                                    rgb {{ style.color_slide_name }}
                                </p>
                            </div>
                            <div class="col-sm-6" title="Tamaño de letra">
                                <p class="form-control-static">{{ style.font_size_slide_name }} pts</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                        {% if CRUD == 'D' %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:styles-read' style.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if perms.songs.update_style %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'songs:styles-update' style.pk %}">
                                    Modificar
                                </a>
                            {% endif %}
                            {% if perms.songs.delete_style %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:styles-delete' style.pk %}">
                                    Eliminar
                                </a>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'songs:styles-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                        {% include 'stub_crud_access_info.html' with elem=style only %}
                    </form>
                </div>
            </div>
        {% endblock %}
