html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    padding-bottom: 30px;
}
.my-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-top-width: 0px;
    font-size: 12px;
    /* add vertical align of content */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
