.workspace {
    padding-bottom: 30px;
}

/* page header */
.workspace .breadcrumb {
    background-color: initial;
    padding-left: 0px;
    margin-bottom: 0px;
}
.workspace .page-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* start page */
.start-page-row {
    margin-top: 30px;
}

/* about page */
.about-page {
    margin-top: 30px;
    margin-bottom: 50px;
}
.about-page .img-responsive {
    max-height: 15px;
}
.about-page .btn {
    padding: 3px 6px;
}
.about-page p {
    line-height: 2;
}

/* login */
.workspace .col-centered {
    float: none;
}
.workspace .well-login {
    margin-top: 50px;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.workspace .well-login .login-elem {
    margin-bottom: 5px;
}
.workspace .well-login .login-elem-input {
    height: 40px;
    font-size: 16px;
    text-align: center;
}
.workspace .well-login .btn-block {
    height: 40px;
    font-size: 16px;
}

/* list pagination */
.my-panel-heading {
    padding: 5px;
}
.my-pager {
    margin-top: 0;
    margin-bottom: 0;
}
.my-pager-link {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* tables inside panels */
.workspace .panel-title {
    font-size: 20px;
    width: auto;
    color: #333;
}
.workspace .table a {
    color: #333;
}
.workspace .table .clickable-row {
    cursor: pointer;
}
.workspace .table .clickable-row a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;      //remove link underline
}

/* list group item counter */
.workspace .list-group-item .item-counter-span {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    margin-right: 15px;
}
.workspace .list-group-item .item-counter-strong {
    float: right;
}

/* search bar form in panel header */
.workspace .form-panel-header {
    display: inline-block;
}

/* forms */
.workspace .form-horizontal .control-label {
    text-align: left;
}
.workspace .form-button-row {
    margin-bottom: 20px;
}
.crud-access-info {
    margin-top: 20px;
    color: #777777;
}
.workspace .hr-horizontal-divider {
    border-top-width: 2px;
    border-top-color: rgb(200, 200, 200);
}
.workspace .verse-row-rename {
    color: inherit;
}
.workspace .verse-row-read-form {
    min-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* styles read form */
.workspace .my-color {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 10px;
    width: 16px;
    height: 16px;
}
