{% extends 'base_list.html' %}

                        {% block panel_buttons %}
                            {% if perms.accounts.create_calendar %}
                                <a class="btn btn-sm btn-default" title="Crear nuevo calendario"
                                   href="{% url 'planners:calendars-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                            {% if perms.accounts.delete_calendar %}
                                <a class="btn btn-sm btn-default" title="Ver calendarios eliminados"
                                   href="{% url 'planners:calendars-list-deleted' %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endblock %}

                                    {% block table_header %}
                                        <th>Título</th>
                                        <th>Descripción</th>
                                        <th>Visibilidad</th>
                                    {% if user.username == admin_username %}
                                        <th colspan="2">Sincronización</th>
                                        <th>Eventos</th>
                                    {% endif %}
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.summary }}">
                                                    {{ elem.summary|truncatechars:50 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.description }}">
                                                    {{ elem.description|truncatechars:50 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.is_public %}
                                                <span class="text-success">Público</span>
                                            {% else %}
                                                <span class="text-danger">Sólo usuarios autorizados</span>
                                            {% endif %}
                                            </a>
                                        </td>
                                    {% if user.username == admin_username %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.calendar.google_last_sync %}
                                                {{ elem.calendar.google_last_sync|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.calendar.google_last_sync|date:'H:i' }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.calendar.google_sync_pending %}
                                                <span class="text-danger">Pendiente</span>
                                            {% else %}
                                                <span class="text-success">OK</span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span class="pull-right" title="activos | eliminados">
                                                    {{ elem.calendar.get_event_qty }}
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Visibilidad</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_visibility">
                                            <option value="A" {% if sf_visibility == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="P" {% if sf_visibility == 'P' %}selected{% endif %}>
                                                Público
                                            </option>
                                            <option value="NP" {% if sf_visibility == 'NP' %}selected{% endif %}>
                                                Sólo usuarios autorizados
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Título
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Visibilidad, Título
                                            </option>
                                        {% endblock %}
