{% extends 'base_list.html' %}

                                    {% block table_header %}
                                        <th>Título</th>
                                        <th>Descripción</th>
                                        <th>Visibilidad</th>
                                        <th>Fecha de eliminación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.summary }}">
                                                    {{ elem.summary|truncatechars:50 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.description }}">
                                                    {{ elem.description|truncatechars:50 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.is_public %}
                                                <span class="text-success">Público</span>
                                            {% else %}
                                                <span class="text-danger">Sólo usuarios autorizados</span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.row_time_start|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.row_time_start|date:'H:i' }}
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Visibilidad</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_visibility">
                                            <option value="A" {% if sf_visibility == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="P" {% if sf_visibility == 'P' %}selected{% endif %}>
                                                Público
                                            </option>
                                            <option value="NP" {% if sf_visibility == 'NP' %}selected{% endif %}>
                                                Sólo usuarios autorizados
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha de eliminación
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Título
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Visibilidad, Título
                                            </option>
                                        {% endblock %}
