{% extends 'base_list.html' %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Título</th>
                                        <th>Descripción</th>
                                        <th>Visibilidad</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.summary }}">
                                                {{ elem.summary|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.description }}">
                                                {{ elem.description|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if elem.is_public %}
                                            <span class="text-success">Público</span>
                                        {% else %}
                                            <span class="text-danger">Sólo usuarios autorizados</span>
                                        {% endif %}
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Visibilidad</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_visibility">
                                            <option value="A" {% if sf_visibility == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="P" {% if sf_visibility == 'P' %}selected{% endif %}>
                                                Público
                                            </option>
                                            <option value="NP" {% if sf_visibility == 'NP' %}selected{% endif %}>
                                                Sólo usuarios autorizados
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha
                                            </option>
                                        {% endblock %}
