{% extends 'base_workspace.html' %}
{% load staticfiles %}
{% load guardian_tags %}
{% load humanize %}

        {% block workspace %}
            {% get_obj_perms user for calendar as 'user_calendar_perms' %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Título</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'U' %}
                                <input class="form-control" type="text" name="summary"
                                       value="{{ current_details.summary }}" maxlength="100" autofocus>
                            {% else %}
                                <p class="form-control-static">{{ current_details.summary }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'U' %}
                                <input class="form-control" type="text" name="description"
                                       value="{{ current_details.description }}" maxlength="100">
                            {% else %}
                                <p class="form-control-static">{{ current_details.description }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Visibilidad</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'U' %}
                                <label class="radio-inline">
                                    <input type="radio" name="visibility" value="PU"
                                           {% if current_details.is_public %}checked{% endif %}>
                                    <strong><span class="text-success">Público</span></strong>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="visibility" value="PR"
                                           {% if not current_details.is_public %}checked{% endif %}>
                                    <strong>
                                        <span class="text-danger">Sólo usuarios autorizados</span>
                                    </strong>
                                </label>
                            {% else %}
                                <p class="form-control-static">
                                    <strong>
                                    {% if current_details.is_public %}
                                        <span class="text-success">Público</span>
                                    {% else %}
                                        <span class="text-danger">Sólo usuarios autorizados</span>
                                    {% endif %}
                                    </strong>
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    {% if CRUD == 'R' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Google Calendar</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    Id: {{ calendar.google_id }}
                                </p>
                                <p class="form-control-static">
                                    Última sincronización:
                                {% if calendar.google_last_sync %}
                                    {{ calendar.google_last_sync|date:'d-m-Y' }}
                                    <small>a las</small>
                                    {{ calendar.google_last_sync|date:'H:i' }}
                                    <small>
                                        ({{ calendar.google_last_sync|naturaltime }})
                                    </small>
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                                <p class="form-control-static">
                                    Sincronización pendiente:
                                    {% if calendar.google_sync_pending %}Sí{% else %}No{% endif %}
                                {% if user.username == admin_username and not calendar.row_deleted and not calendar.google_sync_pending %}
                                    <button type="submit" form="calendar_sync" class="btn btn-default btn-xs">
                                        Sincronizar
                                    </button>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                        <div class="row form-button-row">
                            <div class="col-sm-12">
                        {% if CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:calendars-read' calendar.pk %}">
                                    Cancelar
                                </a>
                        {% elif CRUD == 'D' %}
                            {% if calendar.can_be_deleted %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:calendars-read' calendar.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if calendar.row_deleted and perms.accounts.delete_calendar %}
                                <button type="submit" form="undoDelete" class="btn btn-danger">
                                    Restaurar
                                </button>
                            {% else %}
                                {% if 'manage_calendar' in user_calendar_perms %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'planners:calendars-update' calendar.pk %}">
                                    Modificar
                                </a>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:calendars-delete' calendar.pk %}">
                                    Eliminar
                                </a>
                                {% endif %}
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:events-list' calendar.pk %}">
                                    Lista de eventos
                                </a>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:calendars-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

            {% if CRUD == 'R' %}
                {% if user.username == admin_username and not calendar.row_deleted and not calendar.google_sync_pending %}
                <form class="hidden" method="post" id="calendar_sync"
                      action="{% url 'planners:calendars-sync' calendar.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}
                {% if calendar.row_deleted and perms.accounts.delete_calendar %}
                <form class="hidden" method="post" id="undoDelete"
                      action="{% url 'planners:calendars-delete-undo' calendar.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Últimos cambios</strong>
                        {% if 'manage_calendar' in user_calendar_perms %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'planners:calendars-history' calendar.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in history_list %}
                                    <tr>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                            <small>
                                                ({{ elem.row_time_start|naturaltime }})
                                            </small>
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay eventos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Usuarios y permisos</strong>
                        {% if not calendar.row_deleted and 'manage_calendar' in user_calendar_perms %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Agregar usuario"
                                   href="#m_addUser" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table{% if not calendar.row_deleted and 'manage_calendar' in user_calendar_perms %} table-hover{% endif %}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Permiso</th>
                                    {% for u in assigned_user_list %}
                                        <th>
                                            <span title="{{ u.dsc }}">
                                                {{ u.dsc|truncatechars:10 }}
                                            </span>
                                        {% if u != user %}
                                            {% if not calendar.row_deleted and 'manage_calendar' in user_calendar_perms %}
                                            <a role="button" title="Quitar usuario" href="#m_removeUser"
                                               data-toggle="modal" data-user-pk="{{ u.pk }}" data-user-dsc="{{ u.dsc }}">
                                                <span>&times;</span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        </th>
                                    {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in permission_list %}
                                    <tr>
                                        <td>
                                            <span class="pull-right">
                                                <strong>{{ forloop.counter }}</strong>
                                            </span>
                                        </td>
                                        <td>{{ p.name }}</td>
                                    {% for u in assigned_user_list %}
                                        <td>
                                        {% if p.codename in u.calendar_permissions %}
                                            {% if not calendar.row_deleted and 'manage_calendar' in user_calendar_perms %}
                                            <a class="my-click-unassign" title="Quitar permiso"
                                               data-user="{{ u.pk }}" data-perm="{{ p.codename }}"
                                               href="javascript:void(0);">
                                                <span class="text-success">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </span>
                                            </a>
                                            {% else %}
                                            <span class="text-success">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </span>
                                            {% endif %}
                                        {% else %}
                                            {% if not calendar.row_deleted and 'manage_calendar' in user_calendar_perms %}
                                            <a class="my-click-assign" title="Asignar permiso"
                                               data-user="{{ u.pk }}" data-perm="{{ p.codename }}"
                                               href="javascript:void(0);">
                                                <span class="text-danger">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </span>
                                            </a>
                                            {% else %}
                                            <span class="text-danger">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </span>
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="hidden">
                            <form name="perm_assign_form" method="post"
                                  action="{% url 'planners:calendars-assign-perms' calendar.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="assignment_type" name="assignment_type" value="">
                                <input type="hidden" id="user_pk" name="user" value="0">
                                <input type="hidden" id="perm_pk" name="perm" value="0">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>

        {% if CRUD == 'R' and not calendar.row_deleted and 'manage_calendar' in user_calendar_perms %}
            <!--add user modal-->
            <div class="modal fade" id="m_addUser" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Agregar usuario</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:calendars-add-user' calendar.pk %}">
                                {% csrf_token %}
                            {% if unassigned_user_list %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <select class="form-control" name="user" id="m_addUser_select">
                                        {% for u in unassigned_user_list %}
                                            <option value="{{ u.pk }}">{{ u.dsc }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static text-justify">
                                            No hay usuarios para agregar a este calendario.
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--remove user modal-->
            <div class="modal fade" id="m_removeUser" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Quitar usuario</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:calendars-remove-user' calendar.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="m_removeUser_pk" name="user">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text"
                                               id="m_removeUser_username" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static text-justify">
                                            ¿Está seguro que quiere quitar este usuario del calendario?
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right"
                                                id="m_removeUser_confirmButton">
                                            Confirmar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% endblock %}

    {% block javascript %}
        {% if CRUD == 'R' %}
        <script src="{% static 'planners/js/calendar-form.js' %}"></script>
        {% endif %}
    {% endblock %}
