{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Título</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="summary"
                                       maxlength="100" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="description"
                                       maxlength="100">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Visibilidad</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="visibility" value="PU">
                                    <strong><span class="text-success">Público</span></strong>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="visibility" value="PR" checked>
                                    <strong>
                                        <span class="text-danger">Sólo usuarios autorizados</span>
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="row form-button-row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:calendars-list' %}">
                                    Volver
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
