{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                {% with breadcrumb|last as e %}{{ e.0 }}{% endwith %}
                            </span>
                            <div class="btn-group pull-right">
                                <a class="btn btn-sm btn-default" title="Filtros de búsqueda"
                                   href="#m_sf" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                                <a class="btn btn-sm btn-default" title="Ver PDF" target="_blank"
                                   href="{% url 'planners:events-editable-pdf' %}?{{ sf }}">
                                    <span class="glyphicon glyphicon-file"></span>
                                </a>
                            </div>
                        </div>
                    {% if page.paginator.num_pages > 1 %}
                        {% include 'stub_paginator.html' with page=page params=sf only %}
                    {% endif %}
                        <div class="table-responsive">
                            <table class="table{% if page %} table-hover{% endif %}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Inicio</th>
                                        <th></th>
                                        <th>Calendario</th>
                                        <th>Evento</th>
                                    {% for d in data_list %}
                                        {% if d.is_selected %}<th>{{ d.dsc }}</th>{% endif %}
                                    {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in page %}
                                    <tr {% if elem.url %}class="clickable-row" data-href="{{ elem.url|default:'#' }}"{% endif %}>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span class="pull-right">
                                                    <strong>{{ forloop.counter }}</strong>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.start_datetime|date:'d-m-Y' }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.event.type == '02' %}
                                                {{ elem.end_datetime|date:'d-m-Y' }}
                                            {% else %}
                                                {{ elem.start_datetime|date:'H:i' }}
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.event.calendar }}">
                                                    {{ elem.event.calendar|truncatechars:10 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.summary }}">
                                                    {{ elem.summary|truncatechars:15 }}
                                                </span>
                                            </a>
                                        </td>
                                    {% if 'is_confirmed' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.is_confirmed %}
                                                <span class="text-success">Confirmado</span>
                                            {% else %}
                                                <span class="text-danger">A confirmar</span>
                                            {% endif %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if 'subtype' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.get_subtype_display }}">
                                                    {{ elem.get_subtype_display|truncatechars:15 }}
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if 'occasion' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.occasion }}">
                                                    {{ elem.occasion|truncatechars:20 }}
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if 'topic' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.topic }}">
                                                    {{ elem.topic|truncatechars:20 }}
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if 'bible_ref' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.bible_ref }}">
                                                    {{ elem.bible_ref|truncatechars:20 }}
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '01' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r01 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '02' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r02 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '03' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r03 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '04' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r04 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '05' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r05 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '06' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r06 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '07' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r07 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '08' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r08 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if '99' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.event.r99 %}
                                                <span title="{{ e.dsc }}">
                                                    {{ e.dsc|truncatechars:15 }}
                                                </span>
                                                {% if not forloop.last %}<br />{% endif %}
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if 'google_last_sync' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.event.google_last_sync %}
                                                {{ elem.event.google_last_sync|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.event.google_last_sync|date:'H:i' }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    {% if 'google_sync_pending' in selected_data_set %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.event.google_sync_pending %}
                                                <span class="text-danger">Pendiente</span>
                                            {% else %}
                                                <span class="text-success">OK</span>
                                            {% endif %}
                                            </a>
                                        </td>
                                    {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay elementos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--search filter modal-->
            <div class="modal fade" id="m_sf" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Filtros de búsqueda</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Fechas</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" maxlength="10"
                                               id="m_sf_date_start" name="sf_date_start"
                                               value="{{ sf_date_start|date:'d-m-Y' }}">
                                    </div>
                                    <div class="col-sm-1">
                                        <p class="form-control-static">al</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" maxlength="10"
                                               id="m_sf_date_end" name="sf_date_end"
                                               value="{{ sf_date_end|date:'d-m-Y' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Calendarios</label>
                                    <div class="col-sm-5">
                                    {% for c in user_calendar_list|slice:calendar_list_slice.0 %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sf_c" value="{{ c.pk }}"
                                                       {% if c.is_selected %}checked{% endif %}>
                                                <span title="{{ c }}">{{ c|truncatechars:30 }}</span>
                                            </label>
                                        </div>
                                    {% empty %}
                                        <p class="form-control-static">No hay calendarios para mostrar</p>
                                    {% endfor %}
                                    </div>
                                    <div class="col-sm-5">
                                    {% for c in user_calendar_list|slice:calendar_list_slice.1 %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sf_c" value="{{ c.pk }}"
                                                       {% if c.is_selected %}checked{% endif %}>
                                                <span title="{{ c }}">{{ c|truncatechars:30 }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Columnas</label>
                                    <div class="col-sm-5">
                                    {% for d in data_list|slice:data_list_slice.0 %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sf_d" value="{{ d.code }}"
                                                       {% if d.is_selected %}checked{% endif %}>
                                                <span title="{{ d.dsc }}">{{ d.dsc|truncatechars:30 }}</span>
                                            </label>
                                        </div>
                                    {% empty %}
                                        <p class="form-control-static">No hay columnas para mostrar</p>
                                    {% endfor %}
                                    </div>
                                    <div class="col-sm-5">
                                    {% for d in data_list|slice:data_list_slice.1 %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sf_d" value="{{ d.code }}"
                                                       {% if d.is_selected %}checked{% endif %}>
                                                <span title="{{ d.dsc }}">{{ d.dsc|truncatechars:30 }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Buscar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'js/base-list.js' %}"></script>
    {% endblock %}
