{% extends 'base_list.html' %}
{% load guardian_tags %}

                        {% block panel_buttons %}
                            {% get_obj_perms user for calendar as 'user_calendar_perms' %}
                            {% if 'manage_events' in user_calendar_perms %}
                                <a class="btn btn-sm btn-default" title="Crear nuevo evento"
                                   href="{% url 'planners:events-create' calendar.pk %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a class="btn btn-sm btn-default" title="Ver eventos eliminados"
                                   href="{% url 'planners:events-list-deleted' calendar.pk %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endblock %}

                                    {% block table_header %}
                                        <th>Inicio</th>
                                        <th></th>
                                        <th>Fin</th>
                                        <th>Título</th>
                                        <th>Descripción</th>
                                        <th>Ubicación</th>
                                        <th>Estado</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.start_datetime|date:'d-m-Y' }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.event.type == '01' %}
                                                {{ elem.start_datetime|date:'H:i' }}
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.event.type == '02' %}
                                                {{ elem.end_datetime|date:'d-m-Y' }}
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.summary }}">
                                                    {{ elem.summary|truncatechars:30 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.description }}">
                                                    {{ elem.description|truncatechars:30 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.location }}">
                                                    {{ elem.location|truncatechars:30 }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.is_confirmed %}
                                                <span class="text-success">Confirmado</span>
                                            {% else %}
                                                <span class="text-danger">A confirmar</span>
                                            {% endif %}
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Estado</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_status">
                                            <option value="A" {% if sf_status == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="C" {% if sf_status == 'C' %}selected{% endif %}>
                                                Confirmado
                                            </option>
                                            <option value="T" {% if sf_status == 'T' %}selected{% endif %}>
                                                A confirmar
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha de inicio
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Título, Fecha de inicio
                                            </option>
                                        {% endblock %}
