{% extends 'base_list.html' %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Inicio</th>
                                        <th></th>
                                        <th>Fin</th>
                                        <th>Título</th>
                                        <th>Descripción</th>
                                        <th>Ubicación</th>
                                        <th>Estado</th>
                                        <th>Tipo</th>
                                        <th>Ocasión</th>
                                        <th>Tema</th>
                                        <th>Texto</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            {{ elem.start_datetime|date:'d-m-Y' }}
                                        </td>
                                        <td>
                                        {% if elem.event.type == '01' %}
                                            {{ elem.start_datetime|date:'H:i' }}
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if elem.event.type == '02' %}
                                            {{ elem.end_datetime|date:'d-m-Y' }}
                                        {% endif %}
                                        </td>
                                        <td>
                                            <span title="{{ elem.summary }}">
                                                {{ elem.summary|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.description }}">
                                                {{ elem.description|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.location }}">
                                                {{ elem.location|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <strong>
                                            {% if elem.is_confirmed %}
                                                <span class="text-success">Confirmado</span>
                                            {% else %}
                                                <span class="text-danger">A confirmar</span>
                                            {% endif %}
                                            </strong>
                                        </td>
                                        <td>
                                            <span title="{{ elem.get_subtype_display }}">
                                                {{ elem.get_subtype_display|truncatechars:10 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.occasion }}">
                                                {{ elem.occasion|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.topic }}">
                                                {{ elem.topic|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.bible_ref }}">
                                                {{ elem.bible_ref|truncatechars:20 }}
                                            </span>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Estado</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_status">
                                            <option value="A" {% if sf_status == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="C" {% if sf_status == 'C' %}selected{% endif %}>
                                                Confirmado
                                            </option>
                                            <option value="T" {% if sf_status == 'T' %}selected{% endif %}>
                                                A confirmar
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha
                                            </option>
                                        {% endblock %}
