{% extends 'base_workspace.html' %}
{% load staticfiles %}
{% load guardian_tags %}
{% load humanize %}

    {% block css %}
        {{ block.super }}
        {% if CRUD == 'R' %}<link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">{% endif %}
    {% endblock %}

        {% block workspace %}
            {% get_obj_perms user for calendar as 'user_calendar_perms' %}
        {% if CRUD == 'C' %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        <strong>Sugerencia:</strong>
                    {% if event.type == '02' %}
                        Puede hacer click
                        <a class="alert-link" href="?event_type=01">aquí</a>
                        para crear un evento de un único día.
                    {% else %}
                        Puede hacer click
                        <a class="alert-link" href="?event_type=02">aquí</a>
                        para crear un evento de varios días.
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Calendario</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'U' and user.username == admin_username %}
                                <select class="form-control" name="new_calendar">
                                {% for c in calendar_list %}
                                    <option value="{{ c.pk }}" {% if c.pk == calendar.pk %}selected{% endif %}>
                                        {{ c|truncatechars:30 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <p class="form-control-static text-muted">
                                    {{ calendar.current_details.summary }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Título</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="summary"
                                       value="{{ current_details.summary }}" maxlength="100" autofocus>
                            {% else %}
                                <p class="form-control-static">{{ current_details.summary }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Inicio</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" name="start_date"
                                               value="{{ current_details.start_datetime|default:tz_today|date:'d-m-Y' }}"
                                               id="inputDate" maxlength="10">
                                    </div>
                                {% if event.type == '01' %}
                                    <div class="col-sm-2">
                                        <p class="form-control-static">a las</p>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="number" name="start_time_h"
                                               value="{{ current_details.start_datetime|default:tz_today|date:'H' }}"
                                               min="0" max="23">
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="number" name="start_time_m"
                                               value="{{ current_details.start_datetime|default:tz_today|date:'i' }}"
                                               min="0" max="59">
                                    </div>
                                {% endif %}
                                </div>
                            {% else %}
                                <p class="form-control-static">
                                    {{ current_details.start_datetime|date:'l, d-m-Y' }}
                                {% if event.type == '01' %}
                                    <small>a las</small>
                                    {{ current_details.start_datetime|date:'H:i' }}
                                {% endif %}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    {% if event.type == '02' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fin</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" name="end_date"
                                               value="{{ current_details.end_datetime|default:tz_today|date:'d-m-Y' }}"
                                               id="inputDate_end" maxlength="10">
                                    </div>
                                </div>
                            {% else %}
                                <p class="form-control-static">
                                    {{ current_details.end_datetime|date:'l, d-m-Y' }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="description"
                                       value="{{ current_details.description }}" maxlength="1000">
                            {% else %}
                                <p class="form-control-static">{{ current_details.description }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ubicación</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="location"
                                       value="{{ current_details.location }}" maxlength="100">
                            {% else %}
                                <p class="form-control-static">{{ current_details.location }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="C"
                                           {% if current_details.is_confirmed %}checked{% endif %}>
                                    <strong><span class="text-success">Confirmado</span></strong>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="T"
                                           {% if not current_details.is_confirmed %}checked{% endif %}>
                                    <strong><span class="text-danger">A confirmar</span></strong>
                                </label>
                            {% else %}
                                <p class="form-control-static">
                                    <strong>
                                    {% if current_details.is_confirmed %}
                                        <span class="text-success">Confirmado</span>
                                    {% else %}
                                        <span class="text-danger">A confirmar</span>
                                    {% endif %}
                                    </strong>
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <hr class="hr-horizontal-divider">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <select class="form-control" name="subtype">
                                {% for e in event_detail_subtypes %}
                                    <option value="{{ e.0 }}" {% if e.0 == current_details.subtype %}selected{% endif %}>
                                        {{ e.1 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <p class="form-control-static">{{ current_details.get_subtype_display }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ocasión</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="occasion"
                                       value="{{ current_details.occasion }}" maxlength="100">
                            {% else %}
                                <p class="form-control-static">{{ current_details.occasion }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tema</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="topic"
                                       value="{{ current_details.topic }}" maxlength="100">
                            {% else %}
                                <p class="form-control-static">{{ current_details.topic }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Texto</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="bible_ref"
                                       value="{{ current_details.bible_ref }}" maxlength="100">
                            {% else %}
                                <p class="form-control-static">{{ current_details.bible_ref }}</p>
                            {% endif %}
                            </div>
                        </div>
                    {% if CRUD == 'R' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Google Calendar</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    Última sincronización:
                                {% if event.google_last_sync %}
                                    {{ event.google_last_sync|date:'d-m-Y' }}
                                    <small>a las</small>
                                    {{ event.google_last_sync|date:'H:i' }}
                                    <small>
                                        ({{ event.google_last_sync|naturaltime }})
                                    </small>
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                                <p class="form-control-static">
                                    Sincronización pendiente:
                                    {% if event.google_sync_pending %}Sí{% else %}No{% endif %}
                                {% if user.username == admin_username and not event.google_sync_pending %}
                                    <button type="submit" form="event_sync" class="btn btn-default btn-xs">
                                        Sincronizar
                                    </button>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if CRUD == 'C' %}
                        <hr class="hr-horizontal-divider">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Repetición</label>
                            <div class="col-sm-1 checkbox">
                                <label>
                                    <input type="checkbox" name="clone_flag" value="True">
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <p class="form-control-static text-justify">
                                    Esta opción permite clonar este evento varias veces, usando los
                                    mismos datos que se ingresaron en esta página, variando solamente
                                    la fecha y poniendo todos en el estado "A confirmar".
                                </p>
                            </div>
                            <div class="col-sm-7 col-sm-offset-3">
                                <p class="form-control-static">
                                    Repetir evento cada X días:
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" type="number" name="clone_interval"
                                       value="7" min="1" max="30">
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                <p class="form-control-static">
                                    Repetir evento hasta la fecha:
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="clone_date_end"
                                       value="{{ tz_today|date:'d-m-Y' }}"
                                       id="inputDate_clone" maxlength="10">
                            </div>
                        </div>
                    {% endif %}
                        <div class="row form-button-row">
                            <div class="col-sm-12">
                        {% if CRUD == 'C' or CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:events-list' calendar.pk %}">
                                    Cancelar
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:events-read' calendar.pk event.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                        {% elif CRUD == 'D' %}
                            {% if event.can_be_deleted %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:events-read' calendar.pk event.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if event.row_deleted and 'manage_events' in user_calendar_perms %}
                                <button type="submit" form="undoDelete" class="btn btn-danger">
                                    Restaurar
                                </button>
                            {% else %}
                                {% if 'manage_events' in user_calendar_perms %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'planners:events-update' calendar.pk event.pk %}">
                                    Modificar
                                </a>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:events-delete' calendar.pk event.pk %}">
                                    Eliminar
                                </a>
                                {% endif %}
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'planners:events-list' calendar.pk %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

            {% if CRUD == 'R' %}
                {% if user.username == admin_username and not event.google_sync_pending %}
                <form class="hidden" method="post" id="event_sync"
                      action="{% url 'planners:events-sync' calendar.pk event.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}
                {% if event.row_deleted and 'manage_events' in user_calendar_perms %}
                <form class="hidden" method="post" id="undoDelete"
                      action="{% url 'planners:events-delete-undo' calendar.pk event.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Responsabilidades</strong>
                        {% if responsibility_tasks %}
                            <div class="btn-group pull-right">
                            {% if event.can_be_updated %}
                                <a class="btn btn-xs btn-default" title="Agregar responsabilidad"
                                   href="#m_addResponsibility" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'planners:events-responsibilities-history' calendar.pk event.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Responsabilidad</th>
                                        <th>Persona</th>
                                        <th>Observación</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in event.current_responsibilities %}
                                    <tr>
                                        <td>{{ elem.task_display }}</td>
                                        <td>
                                            <span title="{{ elem.person_display }}">
                                                {{ elem.person_display|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.obs }}">
                                                {{ elem.obs|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if event.can_be_updated %}
                                            {% if 'manage_events' in user_calendar_perms or elem.needed_perm in user_calendar_perms %}
                                            <a role="button" title="Modificar" href="#m_editResponsibility"
                                               data-toggle="modal" data-pk="{{ elem.pk }}" data-obs="{{ elem.obs }}">
                                                <span>&#9998;</span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if event.can_be_updated %}
                                            {% if 'manage_events' in user_calendar_perms or elem.needed_perm in user_calendar_perms %}
                                            <a role="button" title="Quitar" href="#m_removeResponsibility"
                                               data-toggle="modal" data-pk="{{ elem.pk }}">
                                                <span>&times;</span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay responsabilidades para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Programa</strong>
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver PDF" target="_blank"
                                   href="{% url 'planners:events-schedule-pdf' calendar.pk event.pk %}">
                                    <span class="glyphicon glyphicon-file"></span>
                                </a>
                            {% if 'manage_events' in user_calendar_perms or 'change_schedule' in user_calendar_perms %}
                                {% if event.can_be_updated %}
                                <a class="btn btn-xs btn-default" title="Agregar"
                                   href="#m_addSchedule" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                {% endif %}
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'planners:events-schedule-history' calendar.pk event.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Hora</th>
                                        <th>Punto</th>
                                        <th>Persona</th>
                                        <th>Observación</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in event.current_schedule %}
                                    <tr>
                                        <td>{{ elem.datetime|date:'H:i' }}</td>
                                        <td>{{ elem.label }}</td>
                                        <td>
                                            <span title="{{ elem.person }}">
                                                {{ elem.person|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.obs }}">
                                                {{ elem.obs|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if event.can_be_updated %}
                                            {% if 'manage_events' in user_calendar_perms or 'change_schedule' in user_calendar_perms %}
                                            <a role="button" title="Modificar" href="#m_editSchedule"
                                               data-toggle="modal" data-pk="{{ elem.pk }}" data-obs="{{ elem.obs }}"
                                               data-hour="{{ elem.datetime|date:'H' }}" data-minute="{{ elem.datetime|date:'i' }}">
                                                <span>&#9998;</span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if event.can_be_updated %}
                                            {% if 'manage_events' in user_calendar_perms or 'change_schedule' in user_calendar_perms %}
                                            <a role="button" title="Quitar" href="#m_removeSchedule"
                                               data-toggle="modal" data-pk="{{ elem.pk }}">
                                                <span>&times;</span>
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay puntos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Últimos cambios</strong>
                        {% if 'manage_events' in user_calendar_perms %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'planners:events-history' calendar.pk event.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in history_list %}
                                    <tr>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                            <small>
                                                ({{ elem.row_time_start|naturaltime }})
                                            </small>
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay eventos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>

        {% if CRUD == 'R' and event.can_be_updated and responsibility_tasks %}
            <!--add responsibility modal-->
            <div class="modal fade" id="m_addResponsibility" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Agregar responsabilidad</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:events-responsibilities-add' calendar.pk event.pk %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Responsabilidad</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="task" id="m_addResponsibility_task">
                                        {% for e in responsibility_tasks %}
                                            <option value="{{ e.0 }}">{{ e.1 }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <input class="form-control" type="text" name="task_open"
                                               id="m_addResponsibility_taskOpen" maxlength="20"
                                               placeholder="Otra responsabilidad">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Persona</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="person" id="m_addResponsibility_person">
                                            <option value="--"></option>
                                        {% for e in person_list %}
                                            <option value="{{ e.pk }}">{{ e.name|truncatechars:50 }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <input class="form-control" type="text" name="person_open"
                                               id="m_addResponsibility_personOpen" maxlength="50"
                                               placeholder="Otra persona">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Observación</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="obs" maxlength="1000">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--edit responsibility modal-->
            <div class="modal fade" id="m_editResponsibility" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Modificar responsabilidad</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:events-responsibilities-edit' calendar.pk event.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="m_editResponsibility_pk" name="r_pk">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Observación</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="obs"
                                               id="m_editResponsibility_obs" maxlength="1000">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Modificar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--remove responsibility modal-->
            <div class="modal fade" id="m_removeResponsibility" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Quitar responsabilidad</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:events-responsibilities-remove' calendar.pk event.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="m_removeResponsibility_pk" name="r_pk">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static text-justify">
                                            ¿Está seguro que quiere quitar esta responsabilidad del evento?
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-danger pull-right"
                                                id="m_removeResponsibility_confirmButton">
                                            Confirmar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if CRUD == 'R' and event.can_be_updated %}
            {% if 'manage_events' in user_calendar_perms or 'change_schedule' in user_calendar_perms %}
            <!--add schedule entry modal-->
            <div class="modal fade" id="m_addSchedule" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Agregar punto de programa</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:events-schedule-add' calendar.pk event.pk %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Hora</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="number" name="hour"
                                               id="m_addSchedule_hour" value="9" min="0" max="23">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="number" name="minute"
                                               value="0" min="0" max="59">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Punto</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="label" maxlength="20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Persona</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="person" maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Observación</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="obs" maxlength="1000">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--edit schedule entry modal-->
            <div class="modal fade" id="m_editSchedule" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Modificar punto de programa</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:events-schedule-edit' calendar.pk event.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="m_editSchedule_pk" name="s_pk">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Hora</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="number" name="hour"
                                               id="m_editSchedule_hour" value="9" min="0" max="23">
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="number" name="minute"
                                               id="m_editSchedule_minute" value="0" min="0" max="59">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Observación</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="obs"
                                               id="m_editSchedule_obs" maxlength="1000">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right"
                                                id="m_editSchedule_confirmButton">
                                            Modificar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--remove schedule entry modal-->
            <div class="modal fade" id="m_removeSchedule" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Quitar punto de programa</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:events-schedule-remove' calendar.pk event.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="m_removeSchedule_pk" name="s_pk">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static text-justify">
                                            ¿Está seguro que quiere quitar este punto del programa del evento?
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-danger pull-right"
                                                id="m_removeSchedule_confirmButton">
                                            Confirmar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% endblock %}

    {% block javascript %}
        {% if CRUD == 'C' or CRUD == 'U' %}
        <script type="text/javascript">
            (function () {  // start of closure
                $(document).ready(function () {
                    var opt = {
                        format: 'dd-mm-yyyy',
                        startDate: '{{ tz_start|date:'d-m-Y' }}',
                        endDate: '{{ tz_end|date:'d-m-Y' }}',
                        todayHighlight: true,
                        todayBtn: 'linked',
                        weekStart: 1,
                        language: 'es'
                    };
                    $('#inputDate').datepicker(opt);
                    $('#inputDate_end').datepicker(opt);
                    $('#inputDate_clone').datepicker(opt);
                });
            })();   // end of closure
        </script>
        {% elif CRUD == 'R' %}
        <script src="{% static 'planners/js/event-form.js' %}"></script>
        <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
        <script type="text/javascript">
            (function () {  // start of closure
                $(document).ready(function () {
                    var opt2 = {
                        allow_single_deselect: true,
                        placeholder_text_single: '(otra persona)',
                        no_results_text: 'No se encontró persona',
                        search_contains: true,
                        width: '100%'
                    };
                    $('#m_addResponsibility_person').chosen(opt2);
                });
            })();   // end of closure
        </script>
        {% endif %}
    {% endblock %}
