{% extends 'base_workspace.html' %}
{% load staticfiles %}

    {% block css %}
        {{ block.super }}
        {% if user.is_authenticated %}<link rel="stylesheet" href="{% static 'bs-colorpicker/css/bootstrap-colorpicker.min.css' %}">{% endif %}
        <link rel="stylesheet" href="{% static 'full-calendar/css/fullcalendar.min.css' %}">
        <link rel="stylesheet" href="{% static 'full-calendar/css/fullcalendar.print.css' %}" media="print">
    {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
	                <div id='calendar' data-event-source="{% url 'planners:events-json' %}"></div>
                </div>
            </div>

            <!--calendar list modal-->
            <div class="modal fade" id="m_calendarList" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Calendarios visibles</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'planners:user-colors' %}">
                                {% csrf_token %}
                            {% for c in calendar_list %}
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="{{ c.pk }}" checked>
                                                {{ c }}
                                            </label>
                                        {% if c.google_id and c.current_details.is_public %}
                                            <label>
                                                <small>
                                                    <strong>Google Calendar Id:</strong>
                                                    {{ c.google_id }}
                                                </small>
                                            </label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                    {% if user.is_authenticated %}
                                        <div class="input-group my-colorpicker">
                                            <input class="form-control" type="text"
                                                   name="{{ c.pk }}_color" value="{{ c.color }}">
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    {% else %}
                                        <p class="form-control-static pull-right"
                                           title="Puede cambiar los colores después de iniciar sesión">
                                            <span class="my-color" style="background-color: {{ c.color }};"></span>
                                        </p>
                                    {% endif %}
                                    </div>
                                </div>
                            {% empty %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static">
                                            No hay calendarios para mostrar
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if user.is_authenticated %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Guardar colores
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% block javascript %}
        {% if user.is_authenticated %}<script src="{% static 'bs-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>{% endif %}
        <script src="{% static 'full-calendar/js/moment.min.js' %}"></script>
        <script src="{% static 'full-calendar/js/fullcalendar.min.js' %}"></script>
        <script src="{% static 'full-calendar/js/es.js' %}"></script>
        <script src="{% static 'planners/js/start-page.js' %}"></script>
    {% endblock %}
