{% extends 'base_list.html' %}
{% load humanize %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Destinatarios</th>
                                        <th>Asunto</th>
                                        <th>Contenido</th>
                                        <th>Prioridad</th>
                                        <th>Agregado a la cola</th>
                                        <th>Intento de envío</th>
                                        <th>Resultado</th>
                                        <th>Observación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <span title="{{ elem.to }}">
                                                {{ elem.to|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.subject }}">
                                                {{ elem.subject|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.body }}">
                                                {{ elem.body|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.priority }}</td>
                                        <td>{{ elem.when_added|date:'d-m-Y - H:i' }}</td>
                                        <td>{{ elem.when_attempted|date:'d-m-Y - H:i' }}</td>
                                        <td>{{ elem.result_str }}</td>
                                        <td>
                                            <span title="{{ elem.log_message }}">
                                                {{ elem.log_message|truncatechars:20 }}
                                            </span>
                                        </td>
                                    {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Agregado a la cola
                                            </option>
                                        {% endblock %}
