{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 center-block col-centered">
                    <div class="well well-lg well-login">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </p>
                            </div>
                        </div>
                    {% if alternative_login %}
                        <form class="form-horizontal" method="post">
                            {% csrf_token %}
                            <div class="form-group login-elem">
                                <div class="col-sm-12">
                                    <input class="form-control login-elem-input" type="text"
                                           name="username" maxlength="30"
                                           placeholder="Nombre de usuario" autofocus>
                                </div>
                            </div>
                            <div class="form-group login-elem">
                                <div class="col-sm-12">
                                    <input class="form-control login-elem-input" type="password"
                                           name="password" maxlength="30"
                                           placeholder="Contraseña" autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Iniciar sesión
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-justify">
                                    {{ website_info.login_text.0 }}
                                    <a href="#collapseMore" data-toggle="collapse">
                                        <small>Más información</small>
                                    </a>
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <div class="collapse" id="collapseMore">
                                    <p class="text-justify">
                                        {{ website_info.login_text.1 }}
                                    </p>
                                    <p class="text-justify">
                                        {{ website_info.login_text.2 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{% url 'social:begin' 'facebook' %}?next={{ login_next|default:request.path }}">
                                    <img class="img-responsive" src="{% static 'images/login-facebook.png' %}">
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-12">
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ login_next|default:request.path }}">
                                    <img class="img-responsive" src="{% static 'images/login-google.png' %}">
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
