{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-8">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Username</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{ user.username }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Contraseña actual</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="password" name="oldPw" value=""
                                       maxlength="30" placeholder="Ingrese su contraseña actual"
                                       autocomplete="off" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Contraseña nueva</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="password" name="newPw1" value=""
                                       maxlength="30" placeholder="Ingrese la nueva contraseña"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-4">
                                <input class="form-control" type="password" name="newPw2" value=""
                                       maxlength="30" placeholder="Vuelva a ingresar la nueva contraseña"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <p class="form-control-static text-justify">
                                    Usted tendrá que volver a iniciar sesión con la nueva contraseña
                                    después de guardar los cambios.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Cambiar</button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:profile' %}">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
