{% extends 'base_list.html' %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Fecha</th>
                                        <th>Modelo</th>
                                        <th>Acción</th>
                                        <th></th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            {{ elem.date|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.date|date:'H:i' }}
                                        </td>
                                        <td>{{ elem.model }}</td>
                                        <td>{{ elem.action }}</td>
                                        <td>
                                            <span title="{{ elem.pk_str }} {{ elem.dsc }}">
                                                {{ elem.dsc|truncatechars:50 }}
                                            </span>
                                        </td>
                                    {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha
                                            </option>
                                        {% endblock %}
