{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ user.username }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Persona</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ user.profile.person|default:'(ninguna)' }}</p>
                            </div>
                        </div>
                        <div class="form-group" title="Usted puede iniciar sesión con cualquiera de estas redes sociales">
                            <label class="col-sm-2 control-label">Tipo de acceso</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                            {% for e in auth_list %}
                                {% if e == 'facebook' %}
                                    <span class="text-primary">Facebook</span>{% if not forloop.last %},{% endif %}
                                {% elif e == 'google-oauth2' %}
                                    <span class="text-danger">Google</span>{% if not forloop.last %},{% endif %}
                                {% else %}
                                    {{ e|capfirst }}{% if not forloop.last %},{% endif %}
                                {% endif %}
                            {% endfor %}
                                </p>
                            </div>
                            <div class="col-sm-10 col-sm-offset-2">
                                <div class="row">
                                {% if 'facebook' not in auth_list %}
                                    <div class="col-xs-5">
                                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"
                                           title="Agregar esta red social a mi usuario">
                                            <img class="img-responsive" src="{% static 'images/login-facebook.png' %}">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if 'google-oauth2' not in auth_list %}
                                    <div class="col-xs-5">
                                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"
                                           title="Agregar esta red social a mi usuario">
                                            <img class="img-responsive" src="{% static 'images/login-google.png' %}">
                                        </a>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Roles</label>
                            <div class="col-sm-10">
                            {% for g in perm_groups %}
                               {% if user.is_superuser or g in user.groups.all %}
                                <div class="checkbox">
                                    {{ forloop.counter }}.
                                    <label>
                                        <input type="checkbox" checked disabled>
                                        {{ g.name }}
                                    </label>
                                </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <p class="form-control-static text-justify">
                                    Si no tienes algunos de los roles que necesitas, puedes
                                    enviar una solicitud con el botón más abajo.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-default" role="button" href="#m_messageModal"
                                   data-toggle="modal">
                                    Solicitud de autorización
                                </a>
                            {% if user.has_usable_password %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:profile-password' %}">
                                    Cambiar contraseña
                                </a>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:profile-activity-list' %}">
                                    Ver acciones recientes
                                </a>
                            </div>
                        </div>

                        {% include 'stub_crud_access_info.html' with elem=user.profile only %}
                    </form>
                </div>
            </div>

            <!--message modal-->
            <div class="modal fade" id="m_messageModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Solicitud de autorización</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static text-justify">
                                            El administrador del sistema recibirá una notificación
                                            y podrá evaluar tu situación y la necesidad de otorgarte
                                            más permisos.
                                        </p>
                                        <p class="form-control-static text-justify">
                                            En el campo de texto puedes describir los permisos que
                                            deseas obtener o algún otro comentario relevante.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <textarea class="form-control" name="obs" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
