{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="name"
                                       value="{{ role.name }}" maxlength="50" autofocus>
                            {% else %}
                                <p class="form-control-static">{{ role.name }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Permisos</label>
                            <div class="col-sm-10">
                            {% for p in perm_list %}
                                <div class="checkbox">
                                    {{ forloop.counter }}.
                                    <label>
                                        <input type="checkbox" name="perms" value="{{ p.pk }}"
                                               {% if p in role.permissions.all %}checked{% endif %}
                                               {% if CRUD == 'R' or CRUD == 'D' %}disabled{% endif %}>
                                        {{ p.name }}
                                    </label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="row form-button-row">
                            <div class="col-sm-12">
                        {% if CRUD == 'C' or CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:roles-list' %}">
                                    Volver
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:roles-read' role.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                        {% elif CRUD == 'D' %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:roles-read' role.pk %}">
                                    Volver
                                </a>
                        {% else %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'accounts:roles-update' role.pk %}">
                                    Modificar
                                </a>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:roles-delete' role.pk %}">
                                    Eliminar
                                </a>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:roles-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
