{% extends 'base_list.html' %}

                        {% block panel_buttons %}
                            {% if perms.accounts.list_users %}
                                <a class="btn btn-sm btn-default" title="Crear nuevo rol"
                                   href="{% url 'accounts:roles-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                        {% endblock %}

                                    {% block table_header %}
                                        <th>Nombre</th>
                                        {% for p in perm_list %}
                                        <th>
                                            <span title="Permiso: {{ p.name }}">
                                                P{{ forloop.counter }}
                                            </span>
                                        </th>
                                        {% endfor %}
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span title="{{ elem.name }}">
                                                    {{ elem.name|truncatechars:30 }}
                                                </span>
                                            </a>
                                        </td>
                                        {% for p in perm_list %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}" title="Permiso: {{ p.name }}">
                                            {% if p in elem.permissions.all %}
                                                <span class="text-success">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        {% endfor %}
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Nombre
                                            </option>
                                        {% endblock %}
