{% extends 'base_list.html' %}
{% load humanize %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Fecha de expiración</th>
                                        <th>Clave</th>
                                        <th>IP</th>
                                        <th>Usuario</th>
                                        <th>Autenticación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td{% if elem.is_expired %} class="warning"{% endif %}>
                                            {{ elem.expire_date|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.expire_date|date:'H:i' }}
                                            <small>
                                                ({{ elem.expire_date|naturaltime }})
                                            </small>
                                        </td>
                                        <td>{{ elem.session_key }}</td>
                                        <td>{{ elem.ip }}</td>
                                        <td>
                                            <span title="{{ elem.user_str }}">
                                                {{ elem.user_str|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.auth_backend }}</td>
                                    {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Usuario, Fecha
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Autenticación, Usuario, Fecha
                                            </option>
                                        {% endblock %}
