{% extends 'base_list.html' %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>PK</th>
                                        <th>Proveedor</th>
                                        <th>UID</th>
                                        <th>Usuario</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>{{ elem.pk }}</td>
                                        <td>{{ elem.provider }}</td>
                                        <td>{{ elem.uid }}</td>
                                        <td>
                                            (PK: {{ elem.user.pk }})
                                            {{ elem.user.username }}
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                            {% block m_sf_content_other %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Usuario
                                            </option>
                                        {% endblock %}
