{% extends 'base_workspace.html' %}
{% load humanize %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                Base de datos
                                <small>
                                    ({{ total_row_count|intcomma }} filas en {{ table_count }} tablas)
                                </small>
                            </span>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>App</th>
                                        <th>Tabla</th>
                                        <th>Modelo</th>
                                        <th>Filas</th>
                                    </tr>
                                </thead>
                                <tbody>
                            {% for a in app_list %}
                                    <tr class="active">
                                        <td>
                                            <span class="pull-right">
                                                <strong>{{ forloop.counter }}</strong>
                                            </span>
                                        </td>
                                        <td>{{ a.app_name }}</td>
                                        <td></td>
                                        <td>
                                            <span class="pull-right">{{ a.row_percent }} %</span>
                                        </td>
                                        <td>
                                            <span class="pull-right">{{ a.row_count|intcomma }}</span>
                                        </td>
                                    </tr>
                                {% for t in a.table_list %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <span class="pull-right">
                                                <strong>{{ forloop.counter }}</strong>
                                            </span>
                                        </td>
                                        <td>{{ t.table_name }}</td>
                                        <td>{{ t.model_name }}</td>
                                        <td>
                                            <span class="pull-right">{{ t.row_count|intcomma }}</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
