{% extends 'base_list.html' %}
{% load humanize %}

                                    {% block table_header %}
                                        <th>Username</th>
                                        <th>Persona</th>
                                        <th>Último login</th>
                                        <th>Tipo de acceso</th>
                                        <th>Estado</th>
                                        {% for g in perm_groups %}
                                        <th>
                                            <span title="Rol: {{ g.name }}">
                                                R{{ forloop.counter }}
                                            </span>
                                        </th>
                                        {% endfor %}
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.username }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.profile.person %}
                                                <span title="{{ elem.profile.person }}">
                                                    {{ elem.profile.person|truncatechars:20 }}
                                                </span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.last_login %}
                                                {{ elem.last_login|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.last_login|date:'H:i' }}
                                                <small>({{ elem.last_login|naturaltime }})</small>
                                            {% else %}
                                                No inició sesión todavía
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                        {% for e in elem.auth_list %}
                                            {% if e == 'facebook' %}
                                                <span class="text-primary">Facebook</span>{% if not forloop.last %},{% endif %}
                                            {% elif e == 'google-oauth2' %}
                                                <span class="text-danger">Google</span>{% if not forloop.last %},{% endif %}
                                            {% else %}
                                                {{ e|capfirst }}{% if not forloop.last %},{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <strong>
                                                {% if elem.is_active %}
                                                    <span class="text-success">Activo</span>
                                                {% else %}
                                                    <span class="text-danger">Inactivo</span>
                                                {% endif %}
                                                </strong>
                                            </a>
                                        </td>
                                        {% for g in perm_groups %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}" title="Rol: {{ g.name }}">
                                            {% if elem.is_superuser or g in elem.groups.all %}
                                                <span class="text-success">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        {% endfor %}
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Estado</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_status">
                                            <option value="A" {% if sf_status == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="AC" {% if sf_status == 'AC' %}selected{% endif %}>
                                                Activo
                                            </option>
                                            <option value="IN" {% if sf_status == 'IN' %}selected{% endif %}>
                                                Inactivo
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Estado, Username
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Username
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Último login
                                            </option>
                                        {% endblock %}
