{% extends 'base_workspace.html' %}
{% load staticfiles %}

    {% block css %}
        {{ block.super }}
        {% if CRUD == 'C' or CRUD == 'U' %}<link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">{% endif %}
    {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'U' and user.username == admin_username %}
                                <input class="form-control" type="text" name="username"
                                       value="{{ usr.username }}" maxlength="30" autofocus>
                            {% else %}
                                <p class="form-control-static">{{ usr.username }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Persona</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'U' %}
                                <select class="form-control" id="select_person" name="person">
                                    <option value="0"></option>
                                {% for e in person_list %}
                                    <option value="{{ e.pk }}" {% if usr.profile.person.pk == e.pk %}selected{% endif %}>
                                        {{ e.name }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <p class="form-control-static">
                                {% if usr.profile.person %}
                                    <a href="{% url 'people:people-read' usr.profile.person.pk %}">
                                        {{ usr.profile.person }}
                                    </a>
                                {% else %}
                                    (ninguna)
                                {% endif %}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    {% if CRUD == 'R' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo de acceso</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                            {% for e in auth_list %}
                                {% if e == 'facebook' %}
                                    <span class="text-primary">Facebook</span>{% if not forloop.last %},{% endif %}
                                {% elif e == 'google-oauth2' %}
                                    <span class="text-danger">Google</span>{% if not forloop.last %},{% endif %}
                                {% else %}
                                    {{ e|capfirst }}{% if not forloop.last %},{% endif %}
                                {% endif %}
                            {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'U' %}
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="A"
                                           {% if usr.is_active %}checked{% endif %}>
                                    <strong><span class="text-success">Activo</span></strong>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="I"
                                           {% if not usr.is_active %}checked{% endif %}>
                                    <strong><span class="text-danger">Inactivo</span></strong>
                                </label>
                            {% else %}
                                <p class="form-control-static">
                                {% if usr.is_active %}
                                    <strong><span class="text-success">Activo</span></strong>
                                {% else %}
                                    <strong><span class="text-danger">Inactivo</span></strong>
                                {% endif %}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Roles</label>
                            <div class="col-sm-10">
                            {% for g in perm_groups %}
                                <div class="checkbox">
                                    {{ forloop.counter }}.
                                    <label>
                                        <input type="checkbox" name="perm_groups" value="{{ g.pk }}"
                                               {% if usr.is_superuser or g in usr.groups.all %}checked{% endif %}
                                               {% if usr.is_superuser or CRUD == 'R' %}disabled{% endif %}>
                                        {{ g.name }}
                                    </label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                        {% if CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:users-read' usr.pk %}">
                                    Cancelar
                                </a>
                        {% else %}
                            {% if perms.accounts.update_user and usr.username != admin_username %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'accounts:users-update' usr.pk %}">
                                    Modificar
                                </a>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:users-activity-list' usr.pk %}">
                                    Ver acciones recientes
                                </a>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'accounts:users-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>

                        {% include 'stub_crud_access_info.html' with elem=usr.profile only %}
                    </form>
                </div>
            </div>
        {% endblock %}
    {% block javascript %}
        {% if CRUD == 'C' or CRUD == 'U' %}
        <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
        <script type="text/javascript">
            (function () {  // start of closure
                $(document).ready(function () {
                    var opt2 = {
                        allow_single_deselect: true,
                        placeholder_text_single: 'Ninguna persona seleccionada',
                        no_results_text: 'No se encontró persona',
                        search_contains: true
                    };
                    $('#select_person').chosen(opt2);
                });
            })();   // end of closure
        </script>
        {% endif %}
    {% endblock %}
