{% extends 'base_list.html' %}

    {% block panel_title %}Cumpleaños de {{ month_name }}{% endblock %}

                                    {% block table_header %}
                                        <th>Cumpleaños</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th><span class="pull-right">Edad {{ year }}</span></th>
                                        <th>Email</th>
                                        <th>Teléfono</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.birth_date_current_year|date:'l' }}
                                                <span class="pull-right">
                                                    {{ elem.birth_date|date:'d / b' }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.first_name }}">
                                                {{ elem.first_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.complete_last_name }}">
                                                {{ elem.complete_last_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span class="pull-right">
                                                {% if elem.death_date %}
                                                    <span title="Fallecido">&#10015;</span>
                                                {% else %}
                                                    <span title="Nacimiento: {{ elem.birth_date|date:'d-m-Y' }}">
                                                        {{ elem.age }} años
                                                    </span>
                                                {% endif %}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.email }}">
                                                {{ elem.email|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.phone }}">
                                                {{ elem.phone|truncatechars:30 }}
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Mes</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_month">
                                        {% for e in month_list %}
                                            <option value="{{ e.0 }}" {% if sf_month == e.0 %}selected{% endif %}>
                                                {{ e.1 }}
                                            </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Estado</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_status">
                                            <option value="A" {% if sf_status == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="ND" {% if sf_status == 'ND' %}selected{% endif %}>
                                                Sólo personas no fallecidas
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Día
                                            </option>
                                        {% endblock %}
