{% extends 'base_list.html' %}

                        {% block panel_buttons %}
                            {% if perms.people.create_group %}
                                <a class="btn btn-sm btn-default" title="Crear nuevo grupo"
                                   href="{% url 'people:groups-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                            {% if perms.people.delete_group %}
                                <a class="btn btn-sm btn-default" title="Ver grupos eliminados"
                                   href="{% url 'people:groups-list-deleted' %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endblock %}

                                    {% block table_header %}
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th><span class="pull-right">Miembros</span></th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.get_type_display }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.name }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span class="pull-right">
                                                    {{ elem.group.current_member_count }}
                                                </span>
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Tipo</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_type">
                                            <option value="A" {% if sf_type == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                        {% for e in group_type_list %}
                                            <option value="{{ e.0 }}" {% if sf_type == e.0 %}selected{% endif %}>
                                                {{ e.1 }}
                                            </option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Tipo, nombre
                                            </option>
                                        {% endblock %}
