{% extends 'base_workspace.html' %}
{% load humanize %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <select class="form-control" name="type" autofocus>
                                {% for e in group_type_list %}
                                    <option value="{{ e.0 }}" {% if e.0 == current_details.type %}selected{% endif %}>
                                        {{ e.1 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <p class="form-control-static">{{ current_details.get_type_display }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="name"
                                       value="{{ current_details.name }}" maxlength="50"
                                       placeholder="Dato requerido">
                            {% else %}
                                <p class="form-control-static">{{ current_details.name }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observación</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="obs"
                                       value="{{ current_details.obs }}" maxlength="1000">
                            {% else %}
                                <p class="form-control-static">{{ current_details.obs }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="row form-button-row">
                            <div class="col-sm-12">
                        {% if CRUD == 'C' or CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:groups-list' %}">
                                    Volver
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:groups-read' group.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                        {% elif CRUD == 'D' %}
                            {% if group.can_be_deleted %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:groups-read' group.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if perms.people.update_group and not group.row_deleted %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'people:groups-update' group.pk %}">
                                    Modificar
                                </a>
                            {% endif %}
                            {% if perms.people.delete_group %}
                                {% if group.row_deleted %}
                                <button type="submit" form="undoDelete" class="btn btn-danger">
                                    Restaurar
                                </button>
                                {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:groups-delete' group.pk %}">
                                    Eliminar
                                </a>
                                {% endif %}
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:groups-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

            {% if CRUD == 'R' %}
                {% if perms.people.delete_group and group.row_deleted %}
                <form class="hidden" method="post" id="undoDelete"
                      action="{% url 'people:groups-delete-undo' group.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>
                                Miembros
                                <small>({{ group.current_member_count }})</small>
                            </strong>
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'people:groups-members-history' group.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                                <button type="button" class="btn btn-xs btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="{% url 'people:groups-members-excel' group.pk %}">
                                            <span class="text-success">
                                                <small><strong>EXCEL</strong></small>
                                            </span>
                                            - Lista de miembros
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'people:groups-members-pdf' group.pk %}" target="_blank">
                                            <span class="text-danger">
                                                <small><strong>PDF</strong></small>
                                            </span>
                                            - Lista de miembros
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th><span class="pull-right">Edad</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in group.sorted_current_members %}
                                    <tr>
                                    {% with d=elem.person.current_details %}
                                        <td>
                                            <a href="{% url 'people:people-read' d.person.pk %}"
                                               title="{{ d.first_name }}">
                                                {{ d.first_name|truncatechars:20 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'people:people-read' d.person.pk %}"
                                               title="{{ d.last_name }}">
                                                {{ d.last_name|truncatechars:20 }}
                                            </a>
                                        </td>
                                        <td>
                                            <span class="pull-right"
                                                  {% if d.death_date %}title="Fallecido"{% endif %}>
                                                {% if d.death_date %}&#10015;{% endif %}
                                                {{ d.age }}
                                            </span>
                                        </td>
                                    {% endwith %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay miembros para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Últimos cambios</strong>
                        {% if perms.people.update_group %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'people:groups-history' group.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in history_list %}
                                    <tr>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                            <small>
                                                ({{ elem.row_time_start|naturaltime }})
                                            </small>
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay eventos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>
        {% endblock %}
