{% extends 'base_list.html' %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Personas</th>
                                        <th></th>
                                        <th>Lugar</th>
                                        <th>Fecha casamiento</th>
                                        <th>Fecha de fin</th>
                                        <th>Observación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.person_1_str }}">
                                                {{ elem.person_1_str|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.person_2_str }}">
                                                {{ elem.person_2_str|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.location }}">
                                                {{ elem.location|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.start_date|date:'d-m-Y' }}</td>
                                        <td>{{ elem.end_date|date:'d-m-Y' }}</td>
                                        <td>
                                            <span title="{{ elem.obs }}">
                                                {{ elem.obs|truncatechars:30 }}
                                            </span>
                                        </td>
                                    {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha
                                            </option>
                                        {% endblock %}
