{% extends 'base_list.html' %}

                                    {% block table_header %}
                                        <th>Nombres</th>
                                        <th></th>
                                        <th></th>
                                        <th>Apellido</th>
                                        <th>Fecha de casamiento</th>
                                        <th>Fecha de eliminación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.person_1_str }}">
                                                {{ elem.person_1_str|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>&</td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.person_2_str }}">
                                                {{ elem.person_2_str|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.last_name }}">
                                                {{ elem.last_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.start_date|date:'d-m-Y' }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.row_time_start|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.row_time_start|date:'H:i' }}
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha de eliminación
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Fecha de casamiento
                                            </option>
                                        {% endblock %}
