{% extends 'base_workspace.html' %}
{% load staticfiles %}
{% load humanize %}

    {% block css %}
        {{ block.super }}
        {% if CRUD == 'C' or CRUD == 'U' %}<link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">{% endif %}
    {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                    {% if CRUD == 'R' or CRUD == 'D' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Matrimonio</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ current_details }}</p>
                            </div>
                        </div>
                    {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hombre</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <select class="form-control" id="select_person_1" name="person_1">
                                    <option value="--"></option>
                                {% for e in male_person_list %}
                                    <option value="{{ e.0 }}" {% if e.0 == current_details.person_1.pk %}selected{% endif %}>
                                        {{ e.1|truncatechars:40 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                {% with person_1_det=current_details.person_1.current_details %}
                                <p class="form-control-static">
                                    <a href="{% url 'people:people-read' current_details.person_1.pk %}">
                                        {{ person_1_det }}
                                    </a>
                                </p>
                                <p class="form-control-static">
                                    <small {% if person_1_det.death_date %}title="Fallecido"{% endif %}>
                                        {% if person_1_det.death_date %}&#10015;{% endif %}
                                        {{ person_1_det.age }} años
                                    </small>
                                </p>
                                {% endwith %}
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mujer</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <select class="form-control" id="select_person_2" name="person_2">
                                    <option value="--"></option>
                                {% for e in female_person_list %}
                                    <option value="{{ e.0 }}" {% if e.0 == current_details.person_2.pk %}selected{% endif %}>
                                        {{ e.1|truncatechars:40 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                {% with person_2_det=current_details.person_2.current_details %}
                                <p class="form-control-static">
                                    <a href="{% url 'people:people-read' current_details.person_2.pk %}"
                                       {% if person_2_det.death_date %}title="Fallecido"{% endif %}>
                                        {{ person_2_det }}
                                    </a>
                                </p>
                                <p class="form-control-static">
                                    <small>
                                        {% if person_2_det.death_date %}&#10015;{% endif %}
                                        {{ person_2_det.age }} años
                                    </small>
                                </p>
                                {% endwith %}
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Casamiento</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="start_date"
                                       value="{{ current_details.start_date|date:'d-m-Y' }}"
                                       id="input_start_date" maxlength="10">
                            </div>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" name="location"
                                       value="{{ current_details.location }}" maxlength="200"
                                       placeholder="Lugar, ciudad, iglesia, ...">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                {% if current_details.start_date %}
                                    {{ current_details.start_date|date:'d-m-Y' }}
                                    - {{ current_details.age }} años
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                            {% if current_details.location %}
                                <p class="form-control-static">
                                    {{ current_details.location }}
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de fin</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="end_date"
                                       value="{{ current_details.end_date|date:'d-m-Y' }}"
                                       id="input_end_date" maxlength="10">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                {% if current_details.end_date %}
                                    {{ current_details.end_date|date:'d-m-Y' }}
                                    - hace {{ current_details.end_delta }} años
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observación</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="obs"
                                       value="{{ current_details.obs }}" maxlength="1000">
                            {% else %}
                                <p class="form-control-static">{{ current_details.obs }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="row form-button-row">
                            <div class="col-sm-12">
                        {% if CRUD == 'C' or CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:marriages-list' %}">
                                    Volver
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:marriages-read' marriage.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                        {% elif CRUD == 'D' %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:marriages-read' marriage.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if perms.people.update_marriage and not marriage.row_deleted %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'people:marriages-update' marriage.pk %}">
                                    Modificar
                                </a>
                            {% endif %}
                            {% if perms.people.delete_marriage %}
                                {% if marriage.row_deleted %}
                                <button type="submit" form="undoDelete" class="btn btn-danger">
                                    Restaurar
                                </button>
                                {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:marriages-delete' marriage.pk %}">
                                    Eliminar
                                </a>
                                {% endif %}
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:marriages-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

            {% if CRUD == 'R' %}
                {% if perms.people.delete_marriage and marriage.row_deleted %}
                <form class="hidden" method="post" id="undoDelete"
                      action="{% url 'people:marriages-delete-undo' marriage.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Hijos</strong>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Persona</th>
                                        <th>Nacimiento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in current_details.children %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'people:people-read' elem.person.pk %}">
                                                {{ elem|truncatechars:50 }}
                                            </a>
                                        </td>
                                        <td>{{ elem.birth_date|date:'d-m-Y' }}</td>
                                        <td>
                                            <small class="pull-right">
                                            {% if elem.has_father %}
                                                <span title="Hijo del padre"><i>P</i></span>
                                            {% endif %}
                                            {% if elem.has_mother %}
                                                <span title="Hijo de la madre"><i>M</i></span>
                                            {% endif %}
                                            </small>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay hijos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Últimos cambios</strong>
                        {% if perms.people.update_marriage %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'people:marriages-history' marriage.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in history_list %}
                                    <tr>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                            <small>
                                                ({{ elem.row_time_start|naturaltime }})
                                            </small>
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay eventos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>
        {% endblock %}

    {% block javascript %}
        {% if CRUD == 'C' or CRUD == 'U' %}
        <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
        <script type="text/javascript">
            (function () {  // start of closure
                $(document).ready(function () {
                    var opt = {
                        format: 'dd-mm-yyyy',
                        todayHighlight: true,
                        todayBtn: 'linked',
                        weekStart: 1,
                        language: 'es',
                        orientation: 'top auto'
                    };
                    $('#input_start_date').datepicker(opt);
                    $('#input_end_date').datepicker(opt);

                    var opt2 = {
                        placeholder_text_single: 'Ninguna persona seleccionada',
                        no_results_text: 'No se encontró persona',
                        search_contains: true
                    };
                    $('#select_person_1').chosen(opt2);
                    $('#select_person_2').chosen(opt2);
                });
            })();   // end of closure
        </script>
        {% endif %}
    {% endblock %}
