{% extends 'base_list.html' %}

                        {% block panel_buttons %}
                            {% if perms.people.create_marriage %}
                                <a class="btn btn-sm btn-default" title="Crear nuevo matrimonio"
                                   href="{% url 'people:marriages-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                            {% if perms.people.delete_marriage %}
                                <a class="btn btn-sm btn-default" title="Ver matrimonios eliminados"
                                   href="{% url 'people:marriages-list-deleted' %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-file"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="{% url 'people:marriages-list-excel' %}">
                                                <span class="text-success">
                                                    <small><strong>EXCEL</strong></small>
                                                </span>
                                                - Lista de matrimonios
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        {% endblock %}

                                    {% block table_header %}
                                        <th>Nombres</th>
                                        <th></th>
                                        <th></th>
                                        <th>Apellido</th>
                                        <th>Fecha</th>
                                        <th></th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.person_1_str }}">
                                                {{ elem.person_1_str|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>&</td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.person_2_str }}">
                                                {{ elem.person_2_str|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.last_name }}">
                                                {{ elem.last_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.start_date|date:'d-m-Y' }}
                                            {% if elem.end_date %}
                                                <small>al</small>
                                                {{ elem.end_date|date:'d-m-Y' }}
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                        {% if elem.start_date %}
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span class="pull-right">{{ elem.age }} años</span>
                                            </a>
                                        {% endif %}
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha de casamiento
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Nombre 1
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Nombre 2
                                            </option>
                                            <option value="3" {% if sf_order == '3' %}selected{% endif %}>
                                                Apellido
                                            </option>
                                        {% endblock %}
