{% extends 'base_list.html' %}

                                    {% block table_header %}
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Nacimiento</th>
                                        <th>Fecha de eliminación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.first_name }}">
                                                {{ elem.first_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.complete_last_name }}">
                                                {{ elem.complete_last_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               {% if elem.death_date %}title="Fallecido"{% endif %}>
                                                {% if elem.death_date %}&#10015;{% endif %}
                                                {{ elem.birth_date|date:'d-m-Y' }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                {{ elem.row_time_start|date:'d-m-Y' }}
                                                <small>a las</small>
                                                {{ elem.row_time_start|date:'H:i' }}
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha de eliminación
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Nombre, Apellido
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Apellido, Nombre
                                            </option>
                                        {% endblock %}
