{% extends 'base_list.html' %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Apellido de casada</th>
                                        <th>Género</th>
                                        <th>Padre</th>
                                        <th>Madre</th>
                                        <th>Nacimiento</th>
                                        <th></th>
                                        <th>Fallecimiento</th>
                                        <th></th>
                                        <th>Bautismo</th>
                                        <th></th>
                                        <th>Entrada</th>
                                        <th>Salida</th>
                                        <th>Documento</th>
                                        <th>Email</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Observación</th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.first_name }}">
                                                {{ elem.first_name|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.last_name }}">
                                                {{ elem.last_name|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.married_last_name }}">
                                                {{ elem.married_last_name|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.get_gender_display }}</td>
                                        <td>
                                            <span title="{{ elem.father }}">
                                                {{ elem.father|default:''|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.mother }}">
                                                {{ elem.mother|default:''|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.birth_date|date:'d-m-Y' }}</td>
                                        <td>
                                            <span title="{{ elem.birth_location }}">
                                                {{ elem.birth_location|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.death_date|date:'d-m-Y' }}</td>
                                        <td>
                                            <span title="{{ elem.death_location }}">
                                                {{ elem.death_location|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.baptism_date|date:'d-m-Y' }}</td>
                                        <td>
                                            <span title="{{ elem.baptism_location }}">
                                                {{ elem.baptism_location|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>{{ elem.mbg_entry_date|date:'d-m-Y' }}</td>
                                        <td>{{ elem.mbg_exit_date|date:'d-m-Y' }}</td>
                                        <td>
                                            <span title="{{ elem.doc_id }}">
                                                {{ elem.doc_id|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.email }}">
                                                {{ elem.email|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.phone }}">
                                                {{ elem.phone|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.address }}">
                                                {{ elem.address|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            <span title="{{ elem.obs }}">
                                                {{ elem.obs|truncatechars:30 }}
                                            </span>
                                        </td>
                                    {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Fecha
                                            </option>
                                        {% endblock %}
