{% extends 'base_workspace.html' %}
{% load staticfiles %}
{% load humanize %}

    {% block css %}
        {{ block.super }}
        {% if CRUD == 'C' or CRUD == 'U' %}<link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">{% endif %}
    {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="first_name"
                                       value="{{ current_details.first_name }}" maxlength="50"
                                       placeholder="Dato requerido" autofocus>
                            {% else %}
                                <p class="form-control-static">{{ current_details.first_name }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Apellido</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="last_name"
                                       value="{{ current_details.last_name }}" maxlength="50"
                                       placeholder="Dato requerido">
                            {% else %}
                                <p class="form-control-static">{{ current_details.last_name }}</p>
                            {% endif %}
                            </div>
                        </div>
                    {% if current_details.gender == 'F' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Apellido de casada</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="married_last_name"
                                       value="{{ current_details.married_last_name }}" maxlength="50">
                            {% else %}
                                <p class="form-control-static">{{ current_details.married_last_name }}</p>
                            {% endif %}
                            </div>
                        </div>
                    {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Género</label>
                            <div class="col-sm-3">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <select class="form-control" name="gender">
                                {% for e in gender_list %}
                                    <option value="{{ e.0 }}" {% if e.0 == current_details.gender %}selected{% endif %}>
                                        {{ e.1 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <p class="form-control-static">{{ current_details.get_gender_display }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Padre</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <select class="form-control" id="select_father" name="father">
                                    <option value="--"></option>
                                {% for e in male_person_list %}
                                    <option value="{{ e.0 }}" {% if e.0 == current_details.father.pk %}selected{% endif %}>
                                        {{ e.1|truncatechars:40 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <p class="form-control-static">
                                {% if current_details.father %}
                                    <a href="{% url 'people:people-read' current_details.father.pk %}">
                                        {{ current_details.father }}
                                    </a>
                                {% endif %}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Madre</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <select class="form-control" id="select_mother" name="mother">
                                    <option value="--"></option>
                                {% for e in female_person_list %}
                                    <option value="{{ e.0 }}" {% if e.0 == current_details.mother.pk %}selected{% endif %}>
                                        {{ e.1|truncatechars:40 }}
                                    </option>
                                {% endfor %}
                                </select>
                            {% else %}
                                <p class="form-control-static">
                                {% if current_details.mother %}
                                    <a href="{% url 'people:people-read' current_details.mother.pk %}">
                                        {{ current_details.mother }}
                                    </a>
                                {% endif %}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nacimiento</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="birth_date"
                                       value="{{ current_details.birth_date|date:'d-m-Y' }}"
                                       id="input_birth_date" maxlength="10">
                            </div>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" name="birth_location"
                                       value="{{ current_details.birth_location }}" maxlength="200"
                                       placeholder="Lugar">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                {% if current_details.birth_date %}
                                    {{ current_details.birth_date|date:'d-m-Y' }}
                                    - {{ current_details.age }} años
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                            {% if current_details.birth_location %}
                                <p class="form-control-static">
                                    {{ current_details.birth_location }}
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fallecimiento</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="death_date"
                                       value="{{ current_details.death_date|date:'d-m-Y' }}"
                                       id="input_death_date" maxlength="10">
                            </div>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" name="death_location"
                                       value="{{ current_details.death_location }}" maxlength="200"
                                       placeholder="Lugar">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                {% if current_details.death_date %}
                                    {{ current_details.death_date|date:'d-m-Y' }}
                                    - hace {{ current_details.death_delta }} años
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                            {% if current_details.death_location %}
                                <p class="form-control-static">
                                    {{ current_details.death_location }}
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Bautismo</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="baptism_date"
                                       value="{{ current_details.baptism_date|date:'d-m-Y' }}"
                                       id="input_baptism_date" maxlength="10">
                            </div>
                            <div class="col-sm-7">
                                <input class="form-control" type="text" name="baptism_location"
                                       value="{{ current_details.baptism_location }}" maxlength="200"
                                       placeholder="Lugar o iglesia">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                {% if current_details.baptism_date %}
                                    {{ current_details.baptism_date|date:'d-m-Y' }}
                                    {% if current_details.birth_date %}
                                        - a los {{ current_details.baptism_age }} años de edad
                                    {% endif %}
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                            {% if current_details.baptism_location %}
                                <p class="form-control-static">
                                    {{ current_details.baptism_location }}
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Documento de identidad</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="doc_id"
                                       value="{{ current_details.doc_id }}" maxlength="50">
                            {% else %}
                                <p class="form-control-static">{{ current_details.doc_id }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="email"
                                       value="{{ current_details.email }}" maxlength="200">
                            {% else %}
                                <p class="form-control-static">{{ current_details.email }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Teléfono</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="phone"
                                       value="{{ current_details.phone }}" maxlength="50">
                            {% else %}
                                <p class="form-control-static">{{ current_details.phone }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dirección</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="address"
                                       value="{{ current_details.address }}" maxlength="200">
                            {% else %}
                                <p class="form-control-static">{{ current_details.address }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Correo</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="mail_box"
                                       value="{{ current_details.mail_box }}" maxlength="200"
                                       placeholder="Ubicación donde retira correo">
                            {% else %}
                                <p class="form-control-static">{{ current_details.mail_box }}</p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observación</label>
                            <div class="col-sm-10">
                            {% if CRUD == 'C' or CRUD == 'U' %}
                                <input class="form-control" type="text" name="obs"
                                       value="{{ current_details.obs }}" maxlength="1000">
                            {% else %}
                                <p class="form-control-static">{{ current_details.obs }}</p>
                            {% endif %}
                            </div>
                        </div>

                        <hr class="hr-horizontal-divider">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de entrada</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="mbg_entry_date"
                                       value="{{ current_details.mbg_entry_date|date:'d-m-Y' }}"
                                       id="input_mbg_entry_date" maxlength="10">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                {% if current_details.mbg_entry_date %}
                                    {{ current_details.mbg_entry_date|date:'d-m-Y' }}
                                    - hace {{ current_details.mbg_entry_delta }} años
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de salida</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="mbg_exit_date"
                                       value="{{ current_details.mbg_exit_date|date:'d-m-Y' }}"
                                       id="input_mbg_exit_date" maxlength="10">
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                {% if current_details.mbg_exit_date %}
                                    {{ current_details.mbg_exit_date|date:'d-m-Y' }}
                                    - hace {{ current_details.mbg_exit_delta }} años
                                {% else %}
                                    ---
                                {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Suscripción email</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-1 checkbox">
                                <label class="text-success">
                                    <input type="checkbox" name="mbg_subscription_email" value="True"
                                           {% if current_details.mbg_subscription_email %}checked{% endif %}>
                                </label>
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                            {% if current_details.mbg_subscription_email %}
                                <p class="form-control-static text-success">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Suscripción impresa</label>
                        {% if CRUD == 'C' or CRUD == 'U' %}
                            <div class="col-sm-1 checkbox">
                                <label class="text-success">
                                    <input type="checkbox" name="mbg_subscription_print" value="True"
                                           {% if current_details.mbg_subscription_print %}checked{% endif %}>
                                </label>
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                            {% if current_details.mbg_subscription_print %}
                                <p class="form-control-static text-success">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </p>
                            {% endif %}
                            </div>
                        {% endif %}
                        </div>

                    {% if CRUD == 'R' and person.userprofile_set.exists %}
                        <hr class="hr-horizontal-divider">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Usuario relacionado</label>
                            <div class="col-sm-10">
                            {% for e in person.userprofile_set.all %}
                                <p class="form-control-static">{{ e.user }}</p>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                        <div class="row form-button-row">
                            <div class="col-sm-12">
                        {% if CRUD == 'C' or CRUD == 'U' %}
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            {% if CRUD == 'C' %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:people-list' %}">
                                    Volver
                                </a>
                            {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:people-read' person.pk %}">
                                    Cancelar
                                </a>
                            {% endif %}
                        {% elif CRUD == 'D' %}
                            {% if person.can_be_deleted %}
                                <button type="submit" class="btn btn-danger">
                                    Confirmar eliminación
                                </button>
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:people-read' person.pk %}">
                                    Volver
                                </a>
                        {% else %}
                            {% if perms.people.update_person and not person.row_deleted %}
                                <a class="btn btn-primary" role="button"
                                   href="{% url 'people:people-update' person.pk %}">
                                    Modificar
                                </a>
                            {% endif %}
                            {% if perms.people.delete_person %}
                                {% if person.row_deleted %}
                                <button type="submit" form="undoDelete" class="btn btn-danger">
                                    Restaurar
                                </button>
                                {% else %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:people-delete' person.pk %}">
                                    Eliminar
                                </a>
                                {% endif %}
                            {% endif %}
                                <a class="btn btn-default" role="button"
                                   href="{% url 'people:people-list' %}">
                                    Volver
                                </a>
                        {% endif %}
                            </div>
                        </div>
                    </form>
                </div>

            {% if CRUD == 'R' %}
                {% if perms.people.delete_person and person.row_deleted %}
                <form class="hidden" method="post" id="undoDelete"
                      action="{% url 'people:people-delete-undo' person.pk %}">
                    {% csrf_token %}
                </form>
                {% endif %}

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Hermanos</strong>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Persona</th>
                                        <th>Nacimiento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in siblings_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'people:people-read' elem.person.pk %}">
                                                {{ elem|truncatechars:50 }}
                                            </a>
                                        </td>
                                        <td>
                                            <span {% if elem.death_date %}title="Fallecido"{% endif %}>
                                                {% if elem.death_date %}&#10015;{% endif %}
                                                {{ elem.birth_date|date:'d-m-Y' }}
                                            </span>
                                        </td>
                                        <td>
                                            <small class="pull-right">
                                            {% if elem.same_father %}
                                                <span title="Tiene el mismo padre"><i>P</i></span>
                                            {% endif %}
                                            {% if elem.same_mother %}
                                                <span title="Tiene la misma madre"><i>M</i></span>
                                            {% endif %}
                                            </small>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay hermanos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Matrimonios</strong>
                        {% if perms.people.create_marriage %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Crear nuevo matrimonio"
                                   href="{% url 'people:marriages-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Personas</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in marriage_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'people:marriages-read' elem.marriage.pk %}">
                                                {{ elem|truncatechars:50 }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ elem.start_date|date:'d-m-Y' }}
                                        {% if elem.end_date %}
                                            al {{ elem.end_date|date:'d-m-Y' }}
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay matrimonios para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Hijos</strong>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Persona</th>
                                        <th>Nacimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in children_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'people:people-read' elem.person.pk %}">
                                                {{ elem|truncatechars:50 }}
                                            </a>
                                        </td>
                                        <td>
                                            <span {% if elem.death_date %}title="Fallecido"{% endif %}>
                                                {% if elem.death_date %}&#10015;{% endif %}
                                                {{ elem.birth_date|date:'d-m-Y' }}
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay hijos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Grupos</strong>
                        {% if perms.people.update_person %}
                            <div class="btn-group pull-right">
                            {% if not person.row_deleted %}
                                <a class="btn btn-xs btn-default" title="Agregar grupo"
                                   href="#m_addGroup" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'people:people-groups-history' person.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nombre</th>
                                        <th>Obs</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in person.current_groups %}
                                    <tr>
                                    {% with d=elem.group.current_details %}
                                        <td>{{ d.get_type_display }}</td>
                                        <td>
                                            <span title="{{ d.name }}">
                                                {{ d.name|truncatechars:20 }}
                                            </span>
                                        </td>
                                    {% endwith %}
                                        <td>
                                            <span title="{{ elem.obs }}">
                                                {{ elem.obs|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if perms.people.update_person and not person.row_deleted %}
                                            <a role="button" title="Modificar" href="#m_editGroup"
                                               data-toggle="modal" data-pk="{{ elem.pk }}" data-obs="{{ elem.obs }}">
                                                <span>&#9998;</span>
                                            </a>
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if perms.people.update_person and not person.row_deleted %}
                                            <a role="button" title="Quitar" href="#m_removeGroup"
                                               data-toggle="modal" data-pk="{{ elem.pk }}">
                                                <span>&times;</span>
                                            </a>
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No hay grupos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Últimos cambios</strong>
                        {% if perms.people.update_person %}
                            <div class="btn-group pull-right">
                                <a class="btn btn-xs btn-default" title="Ver historial de cambios"
                                   href="{% url 'people:people-history' person.pk %}">
                                    <span class="glyphicon glyphicon-time"></span>
                                </a>
                            </div>
                        {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in history_list %}
                                    <tr>
                                        <td>{{ elem.row_action }}</td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                            <small>
                                                ({{ elem.row_time_start|naturaltime }})
                                            </small>
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>No hay eventos para mostrar</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            </div>

        {% if CRUD == 'R' and not person.row_deleted %}
            <!--add group modal-->
            <div class="modal fade" id="m_addGroup" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Agregar al grupo</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'people:people-groups-add' person.pk %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Grupo</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="group" id="m_addGroup_group">
                                        {% for e in possible_group_list %}
                                            <option value="{{ e.group.pk }}">{{ e }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Observación</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="obs" maxlength="1000">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--edit group modal-->
            <div class="modal fade" id="m_editGroup" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Modificar grupo</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'people:people-groups-edit' person.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="m_editGroup_pk" name="m_pk">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Observación</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" name="obs"
                                               id="m_editGroup_obs" maxlength="1000">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Modificar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--remove group modal-->
            <div class="modal fade" id="m_removeGroup" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Quitar grupo</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" method="post"
                                  action="{% url 'people:people-groups-remove' person.pk %}">
                                {% csrf_token %}
                                <input type="hidden" id="m_removeGroup_pk" name="m_pk">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static text-justify">
                                            ¿Está seguro que quiere quitar la persona de este grupo?
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-danger pull-right"
                                                id="m_removeGroup_confirmButton">
                                            Confirmar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% endblock %}

    {% block javascript %}
        {% if CRUD == 'C' or CRUD == 'U' %}
        <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
        <script type="text/javascript">
            (function () {  // start of closure
                $(document).ready(function () {
                    var opt = {
                        format: 'dd-mm-yyyy',
                        todayHighlight: true,
                        todayBtn: 'linked',
                        weekStart: 1,
                        language: 'es'
                    };
                    $('#input_birth_date').datepicker(opt);
                    $('#input_death_date').datepicker(opt);
                    $('#input_baptism_date').datepicker(opt);
                    $('#input_mbg_entry_date').datepicker(opt);
                    $('#input_mbg_exit_date').datepicker(opt);

                    var opt2 = {
                        allow_single_deselect: true,
                        placeholder_text_single: 'Ninguna persona seleccionada',
                        no_results_text: 'No se encontró persona',
                        search_contains: true
                    };
                    $('#select_father').chosen(opt2);
                    $('#select_mother').chosen(opt2);
                });
            })();   // end of closure
        </script>
        {% elif CRUD == 'R' %}
        <script src="{% static 'people/js/person-form.js' %}"></script>
        {% endif %}
    {% endblock %}
