{% extends 'base_list.html' %}

    {% block table_hover %}{% endblock %}

                                    {% block table_header %}
                                        <th>Grupo</th>
                                        <th></th>
                                        <th>Observación</th>
                                        <th>Creación</th>
                                        <th></th>
                                        <th>Eliminación</th>
                                        <th></th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        {% with d=elem.group.current_details %}
                                        <td>{{ d.get_type_display }}</td>
                                        <td>
                                            <span title="{{ d.name }}">
                                                {{ d.name|truncatechars:20 }}
                                            </span>
                                        </td>
                                        {% endwith %}
                                        <td>
                                            <span title="{{ elem.obs }}">
                                                {{ elem.obs|truncatechars:30 }}
                                            </span>
                                        </td>
                                        <td>
                                            {{ elem.row_time_start|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_start|date:'H:i' }}
                                        </td>
                                        <td>
                                            <span title="{{ elem.row_user_start.profile }}">
                                                {{ elem.row_user_start.profile|truncatechars:20 }}
                                            </span>
                                        </td>
                                        <td>
                                        {% if elem.row_time_end %}
                                            {{ elem.row_time_end|date:'d-m-Y' }}
                                            <small>a las</small>
                                            {{ elem.row_time_end|date:'H:i' }}
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if elem.row_time_end %}
                                            <span title="{{ elem.row_user_end.profile }}">
                                                {{ elem.row_user_end.profile|truncatechars:20 }}
                                            </span>
                                        {% endif %}
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_text %}
                            {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Grupo
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Fecha de creación
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Fecha de eliminación
                                            </option>
                                        {% endblock %}
