{% extends 'base_list.html' %}

                        {% block panel_buttons %}
                            {% if perms.people.create_person %}
                                <a class="btn btn-sm btn-default" title="Crear nueva persona"
                                   href="{% url 'people:people-create' %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                            {% if perms.people.delete_person %}
                                <a class="btn btn-sm btn-default" title="Ver personas eliminadas"
                                   href="{% url 'people:people-list-deleted' %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-file"></span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="{% url 'people:people-list-excel' %}">
                                                <span class="text-success">
                                                    <small><strong>EXCEL</strong></small>
                                                </span>
                                                - Lista de personas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'people:people-list-members-excel' %}">
                                                <span class="text-success">
                                                    <small><strong>EXCEL</strong></small>
                                                </span>
                                                - Lista de miembros
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'people:people-list-pdf' %}" target="_blank">
                                                <span class="text-danger">
                                                    <small><strong>PDF</strong></small>
                                                </span>
                                                - Guía de direcciones
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        {% endblock %}

                                    {% block table_header %}
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Nacimiento</th>
                                        <th>Email</th>
                                        <th>Teléfono</th>
                                        <th><span class="pull-right">Miembro</span></th>
                                        <th><span class="pull-right">Usuario</span></th>
                                    {% endblock %}

                                    {% block table_row_content %}
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.first_name }}">
                                                {{ elem.first_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.complete_last_name }}">
                                                {{ elem.complete_last_name|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               {% if elem.death_date %}title="Fallecido"{% endif %}>
                                                {% if elem.death_date %}&#10015;{% endif %}
                                                {{ elem.birth_date|date:'d-m-Y' }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.email }}">
                                                {{ elem.email|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}"
                                               title="{{ elem.phone }}">
                                                {{ elem.phone|truncatechars:30 }}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% if elem.is_member %}
                                                <span class="text-success pull-right">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </span>
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                            {% for e in elem.person.userprofile_set.all %}
                                                <span class="text-success pull-right" title="{{ e.user }}">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </span>
                                            {% endfor %}
                                            </a>
                                        </td>
                                    {% endblock %}

                            {% block m_sf_content_dates %}
                            {% endblock %}

                            {% block m_sf_content_other %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Estado</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_status">
                                            <option value="A" {% if sf_status == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="D" {% if sf_status == 'D' %}selected{% endif %}>
                                                Sólo personas fallecidas
                                            </option>
                                            <option value="ND" {% if sf_status == 'ND' %}selected{% endif %}>
                                                Sólo personas no fallecidas
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Membresía</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_membership">
                                            <option value="A" {% if sf_membership == 'A' %}selected{% endif %}>
                                                (Todos)
                                            </option>
                                            <option value="M" {% if sf_membership == 'M' %}selected{% endif %}>
                                                Sólo miembros
                                            </option>
                                            <option value="NM" {% if sf_membership == 'NM' %}selected{% endif %}>
                                                Sólo no miembros
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endblock %}

                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                Apellido, Nombre
                                            </option>
                                            <option value="1" {% if sf_order == '1' %}selected{% endif %}>
                                                Nombre, Apellido
                                            </option>
                                            <option value="2" {% if sf_order == '2' %}selected{% endif %}>
                                                Fecha de nacimiento
                                            </option>
                                        {% endblock %}
