{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </h1>
                    <h4 class="text-center">
                        Usted no tiene los permisos necesarios para esta página.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="{% url 'start-page' %}">Volver a la página de inicio</a>
                    </p>
                </div>
            </div>
        {% endblock %}
