{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">
                        404
                    </h1>
                    <h4 class="text-center">
                        Al parecer la página "{{ request_path }}" no existe.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="{% url 'start-page' %}">Volver a la página de inicio</a>
                    </p>
                </div>
            </div>
        {% endblock %}
