{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        {{ website_info.title }}
                        <small><i>{{ website_info.version }}</i></small>
                    </h3>
                </div>
            </div>

            <div class="row about-page">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <h4>
                        Autor: Ralf Funk
                    </h4>
                    <p class="text-justify">
                        Este sistema (o también sitio web) fue desarrollado en el lenguage de programación
                        <a class="btn btn-default" role="button" target="_blank"
                           href="https://www.python.org/" title="https://www.python.org/">
                            <img class="img-responsive" src="{% static 'images/logo-python.png' %}"
                                 alt="logo-python">
                        </a>
                        , utilizando los frameworks
                        <a class="btn btn-default" role="button" target="_blank"
                           href="https://www.djangoproject.com/" title="https://www.djangoproject.com/">
                            <img class="img-responsive" src="{% static 'images/logo-django.png' %}"
                                 alt="logo-django">
                        </a>
                        y
                        <a class="btn btn-default" role="button" target="_blank"
                           href="http://getbootstrap.com/" title="http://getbootstrap.com/">
                            <img class="img-responsive" src="{% static 'images/logo-bootstrap.png' %}"
                                 alt="logo-bootstrap">
                        </a>
                        .
                    </p>
                    <p class="text-justify">
                        El código fuente de este sistema está publicado bajo la licencia
                        <a href="http://mozilla.org/MPL/2.0/" title="http://mozilla.org/MPL/2.0/"
                           target="_blank">
                            Mozilla Public License versión 2.0
                        </a>
                        y puedes encontrarlo en nuestro repositorio público de
                        <a class="btn btn-default" role="button" target="_blank"
                           href="https://bitbucket.org/ralffunk/mbg_websites_public"
                           title="https://bitbucket.org/ralffunk/mbg_websites_public">
                            <img class="img-responsive" src="{% static 'images/logo-bitbucket.png' %}"
                                 alt="logo-bitbucket">
                        </a>
                        .
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        Iglesia Hermanos Menonitas Concordia
                    </h4>
                    <p>
                        Página web:
                        <a href="http://mbg-concordia.org.py/" target="_blank">
                            http://mbg-concordia.org.py/
                        </a>
                    </p>
                    <p>
                        Asunción, Paraguay
                    </p>
                </div>
            </div>
        {% endblock %}
