{% extends 'base_workspace.html' %}
{% load staticfiles %}

        {% block workspace %}
            <div class="row">
                <div class="{% block panel_size %}col-sm-12{% endblock %}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">
                                {% block panel_title %}{% with breadcrumb|last as e %}{{ e.0 }}{% endwith %}{% endblock %}
                            </span>
                            <div class="btn-group pull-right">
                                <a class="btn btn-sm btn-default" title="Filtros de búsqueda"
                                   href="#m_sf" role="button" data-toggle="modal">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                        {% block panel_buttons %}
                        {% endblock %}
                            </div>
                        </div>
                    {% if page.paginator.num_pages > 1 %}
                        {% include 'stub_paginator.html' with page=page params=sf only %}
                    {% endif %}
                        <div class="table-responsive">
                            <table class="table{% block table_hover %}{% if page %} table-hover{% endif %}{% endblock %}">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                    {% block table_header %}
                                    {% endblock %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in page %}
                                    <tr{% if elem.url %} class="clickable-row" data-href="{{ elem.url|default:'#' }}"{% endif %}>
                                        <td>
                                            <a href="{{ elem.url|default:'#' }}">
                                                <span class="pull-right">
                                                    <strong>{{ forloop.counter }}</strong>
                                                </span>
                                            </a>
                                        </td>
                                    {% block table_row_content %}
                                    {% endblock %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td>{% block table_empty_text %}No hay elementos para mostrar{% endblock %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% if page.paginator.num_pages > 1 %}
                        {% include 'stub_paginator.html' with page=page params=sf only %}
                    {% endif %}
                    </div>
                </div>
            </div>

            <!--search filter modal-->
            <div class="modal fade" id="m_sf" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Filtros de búsqueda</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                            {% block m_sf_content_text %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Texto</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="text" maxlength="50"
                                               id="m_sf_text" name="sf_text" value="{{ sf_text }}">
                                    </div>
                                </div>
                            {% endblock %}
                            {% block m_sf_content_dates %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Fechas</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" maxlength="10"
                                               id="m_sf_date_start" name="sf_date_start"
                                               value="{{ sf_date_start|date:'d-m-Y' }}">
                                    </div>
                                    <div class="col-sm-1">
                                        <p class="form-control-static">al</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" maxlength="10"
                                               id="m_sf_date_end" name="sf_date_end"
                                               value="{{ sf_date_end|date:'d-m-Y' }}">
                                    </div>
                                </div>
                            {% endblock %}
                            {% block m_sf_content_other %}
                            {% endblock %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Ordenar por</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="sf_order">
                                        {% block m_sf_content_order %}
                                            <option value="0" {% if sf_order == '0' %}selected{% endif %}>
                                                ---
                                            </option>
                                        {% endblock %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary pull-right">
                                            Buscar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% block javascript %}
        <script src="{% static 'js/base-list.js' %}"></script>
    {% endblock %}
