{% extends 'website_base.html' %}
{% load staticfiles %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/workspace.css' %}">
    {% endblock %}

    {% block body_content %}
        <div class="container workspace">
            <div class="row">
                <div class="col-xs-12">
                {% if breadcrumb %}
                    <ol class="breadcrumb">
                    {% for b in breadcrumb %}
                        {% if b.1 %}
                        <li><a title="{{ b.0 }}" href="{{ b.1 }}">{{ b.0|truncatechars:20 }}</a></li>
                        {% else %}
                        <li class="active">{{ b.0 }}</li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                {% endif %}
                {% if page_title %}
                    <h3 class="page-title">{{ page_title }}</h3>
                {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="messages">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span>&times;</span>
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>

        {% block workspace %}
        {% endblock %}
        </div>
    {% endblock %}
