{% extends 'base_workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>
                        Ayuda del sistema
                    </h3>

                    <div class="panel-group" id="accordion" role="tablist">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <span class="panel-title">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <a class="collapsed" role="button" href="#collapse_1"
                                       data-toggle="collapse" data-parent="#accordion">
                                        Calendario
                                    </a>
                                </span>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" id="collapse_1">
                                <div class="panel-body text-justify">
                                    <p>
                                        El calendario permite realizar la planificación de
                                        actividades de la iglesia.
                                    </p>

                                    <br/>
                                    <h4>A. Conceptos</h4>
                                    <ol>
                                        <li>
                                            <p>
                                                <strong>Calendario:</strong>
                                                conjunto de eventos destinados para un grupo particular de usuarios.
                                            </p>
                                            <p>
                                                Un calendario puede tener los siguientes niveles de visibilidad:
                                                <ul>
                                                    <li>
                                                        <span class="text-success">Público:</span>
                                                        todos los usuarios pueden ver el título y la fecha
                                                        de los eventos confirmados (no de los eventos no confirmados),
                                                        pero ningún usuario puede ver más detalles si no
                                                        está asignado al calendario.
                                                    </li>
                                                    <li>
                                                        <span class="text-danger">Sólo usuarios autorizados:</span>
                                                        solamente los usuarios asignados al calendario
                                                        pueden ver y modificar los eventos.
                                                    </li>
                                                </ul>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Evento:</strong>
                                                actividad concreta que se desarrolla en uno o varios días.
                                            </p>
                                            <p>
                                                Un evento puede tener los siguientes estados:
                                                <ul>
                                                    <li>
                                                        <span class="text-success">Confirmado:</span>
                                                        en calendarios públicos, todos los usuarios
                                                        pueden ver el título y la fecha del evento;
                                                        en calendarios restringidos no hace diferencia
                                                        alguna.
                                                    </li>
                                                    <li>
                                                        <span class="text-danger">A confirmar:</span>
                                                        en calendarios públicos, solamente los usuarios
                                                        asignados al calendario pueden ver el evento;
                                                        en calendarios restringidos no hace diferencia
                                                        alguna.
                                                    </li>
                                                </ul>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Responsabilidad:</strong>
                                                función que puede ser asignada a una o varias personas
                                                para cada evento.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Programa:</strong>
                                                orden del día o cronograma de un evento, donde se puede
                                                especificar hora, actividad y persona responsable por
                                                cada punto del programa.
                                            </p>
                                        </li>
                                    </ol>

                                    <br/>
                                    <h4>B. Permisos</h4>
                                    <p>
                                        En cada calendario se puede asignar permisos a usuarios,
                                        controlando así las acciones que cada usuario puede realizar
                                        dentro de ese calendario.
                                    </p>
                                    <p>
                                        Los permisos principales son:
                                    </p>
                                    <ol>
                                        <li>
                                            <p>
                                                <strong>ver calendario:</strong>
                                                puede ver los detalles del calendario y también los
                                                eventos con todos sus detalles.
                                            </p>
                                            <p>
                                                Obs: cada usuario recibe este permiso al ser asignado
                                                al calendario.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>administrar calendario:</strong>
                                                puede modificar los datos del calendario, agregar
                                                usuarios al mismo y asignar o quitar permisos.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>administrar eventos:</strong>
                                                puede crear, modificar y eliminar eventos, incluyendo
                                                asignación de responsabilidades y modificación del programa.
                                            </p>
                                        </li>
                                    </ol>
                                    <p>
                                        Los demás permisos disponibles son para acciones concretas
                                        dentro de los eventos. Estos permisos ya están incluidos
                                        dentro del permiso "<i>administrar eventos</i>",
                                        pero se los puede asignar a usuario para que solamente puedan
                                        hacer esa acción dentro de los eventos.
                                        Estos permisos son:
                                    </p>
                                    <ol>
                                        <li>
                                            <p>
                                                <strong>modificar programa:</strong>
                                                puede modificar los puntos del programa del evento.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>asignar "<i>responsabilidad</i>":</strong>
                                                puede modificar las asignaciones de esa responsabilidad
                                                para los eventos.
                                            </p>
                                            <p>
                                                Obs: hay un permiso para cada responsabilidad existente.
                                            </p>
                                        </li>
                                    </ol>

                                    <br/>
                                    <h4>C. Estructura y páginas del sistema</h4>
                                    <p>
                                        El sistema tiene varias páginas que pueden ser utilizadas
                                        para trabajar con el calendario.
                                    </p>
                                    <ol>
                                        <li>
                                            <p>
                                                <strong>Inicio:</strong>
                                                calendario interactivo que muestra todos los eventos
                                                que el usuario puede ver, ya sean eventos públicos
                                                confirmados o eventos de calendarios a los que el
                                                usuario esta asignado.
                                            </p>
                                            <p>
                                                Los eventos de calendarios a los que el usuario esta
                                                asignado tienen un link que lleva a los detalles de ese
                                                evento.
                                                Los demás eventos no tienen ese link.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Lista de calendarios:</strong>
                                                Muestra la lista de todos los calendarios a los que
                                                el usuario esta asignado.
                                                Al seleccionar uno, se pasa a visualizar los detalles
                                                del calendario.
                                            </p>
                                            <ul>
                                                <li>
                                                    <p>
                                                        <strong>Detalles del calendario:</strong>
                                                        Muestra los datos del calendario, el historial
                                                        de cambios del mismo, los usuarios asignados
                                                        y los permisos que tiene cada uno.
                                                        Hay un botón que lleva a la lista de eventos
                                                        de ese calendario.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <strong>Lista de eventos del calendario:</strong>
                                                        Muestra los eventos del calendario.
                                                        Al seleccionar uno, se pasa a visualizar los
                                                        detalles del evento.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p>
                                                        <strong>Detalles del evento:</strong>
                                                        Muestra los datos del evento, el historial
                                                        de cambios del mismo, las responsabilidades
                                                        asignadas y el programa.
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Lista de eventos:</strong>
                                                Muestra la lista de eventos que el usuario puede ver,
                                                ya sean eventos públicos o eventos de calendarios a
                                                los que el usuario esta asignado.
                                            </p>
                                            <p>
                                                Los eventos de calendarios a los que el usuario esta
                                                asignado tienen un link que lleva a los detalles de ese
                                                evento.
                                                Los demás eventos no tienen ese link.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Planificación de eventos:</strong>
                                                Muestra la lista de eventos de todos los calendarios
                                                a los que el usuario esta asignado y permite elegir
                                                diferentes columnas con los datos y responsabilidades
                                                de los eventos.
                                            </p>
                                            <p>
                                                Esta página puede ser útil para comparar las asignaciones
                                                de responsabilidades entre eventos o para visualizar
                                                la distribución de responsabilidades en un periodo de tiempo.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Mis responsabilidades:</strong>
                                                Muestra la lista de responsabilidades que el usuario
                                                activo tiene asignado.
                                            </p>
                                            <p>
                                                Aquellas responsabilidades de eventos en calendarios
                                                a los que el usuario esta asignado tienen un link que
                                                lleva a los detalles de ese evento.
                                                Las demás responsabilidades no tienen ese link.
                                            </p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <span class="panel-title">
                                    <span class="glyphicon glyphicon-music"></span>
                                    <a class="collapsed" role="button" href="#collapse_2"
                                       data-toggle="collapse" data-parent="#accordion">
                                        Gestor de canciones
                                    </a>
                                </span>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" id="collapse_2">
                                <div class="panel-body text-justify">
                                    <p>
                                        El gestor de canciones permite administrar letras de
                                        canciones y generar presentaciones PowerPoint de las mismas.
                                    </p>

                                    <br/>
                                    <h4>A. Conceptos</h4>
                                    <ol>
                                        <li>
                                            <p>
                                                <strong>Canción:</strong>
                                                entidad que está compuesta por dos partes:
                                                <ul>
                                                    <li>
                                                        <strong>Propiedades:</strong>
                                                        contiene información para identificar una canción,
                                                        como por ejemplo sus autores, himnarios donde
                                                        se puede encontrarla, fecha de publicación, entre otros.
                                                        Además se puede agregar características musicales
                                                        y comentarios generales.
                                                    </li>
                                                    <li>
                                                        <strong>Estrofas:</strong>
                                                        contiene la letra de la canción, con la posibilidad
                                                        de incluir traducciones de títulos y estrofas en tres idiomas
                                                        (<span class="text-success">alemán</span>,
                                                        <span class="text-danger">inglés</span> y
                                                        <span class="text-primary">español</span>).
                                                    </li>
                                                </ul>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Autor:</strong>
                                                persona o grupo creadores de una canción.
                                            </p>
                                            <p>
                                                Para cada autor asignado a una canción se puede especificar
                                                en que aspecto contribuyó a la misma:
                                                <ul>
                                                    <li>música</li>
                                                    <li>letra</li>
                                                    <li>traducción</li>
                                                </ul>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Himnario:</strong>
                                                publicación que contiene un conjunto de canciones.
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Estilo de presentación:</strong>
                                                definición del aspecto visual de las presentaciones
                                                PowerPoint (que contienen la letra de canciones).
                                            </p>
                                        </li>
                                    </ol>

                                    <br/>
                                    <h4>B. Estructura y páginas del sistema</h4>
                                    <p>
                                        <i>(a ser completado)</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% if user.is_authenticated %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <span class="panel-title">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <a class="collapsed" role="button" href="#collapse_3"
                                       data-toggle="collapse" data-parent="#accordion">
                                        Personas
                                    </a>
                                </span>
                            </div>
                            <div class="panel-collapse collapse" role="tabpanel" id="collapse_3">
                                <div class="panel-body text-justify">
                                    <p>
                                        Permite administrar la lista de personas relacionadas a la iglesia.
                                    </p>

                                    <br/>
                                    <h4>A. Conceptos</h4>
                                    <p>
                                        <i>(a ser completado)</i>
                                    </p>

                                    <br/>
                                    <h4>B. Estructura y páginas del sistema</h4>
                                    <p>
                                        <i>(a ser completado)</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>

                </div>
            </div>
        {% endblock %}
