{% extends 'base_workspace.html' %}
{% load staticfiles %}

    {% block css %}
        {{ block.super }}
        <style type="text/css">
            body::after {
                background-image: url('{% static 'images/bg.jpg' %}');
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;

                opacity: 0.3;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1;
            }
            .workspace .panel-default {
                box-shadow: 0 0 5px;
            }
        </style>
    {% endblock %}

        {% block workspace %}
            <div class="row start-page-row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title" href="{% url 'planners:start-page' %}">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        Calendario
                                    </a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        {% if user.is_authenticated %}
                                            <tr>
                                                <td colspan="2">
                                                    <strong>Servicio público</strong>
                                                </td>
                                            </tr>
                                        {% endif %}
                                            <tr>
                                                <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                                <td class="text-justify">
                                                    Consulta el calendario de actividades de la iglesia.
                                                </td>
                                            </tr>
                                        {% if user.is_authenticated %}
                                            <tr>
                                                <td colspan="2">
                                                    <strong>Herramientas para usuarios autorizados</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                                <td class="text-justify">
                                                    Crea y modifica calendarios para agrupar eventos
                                                    según su audiencia.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                                <td class="text-justify">
                                                    Crea y modifica eventos en los distintos
                                                    calendarios.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                                <td class="text-justify">
                                                    Asigna diferentes responsabilidades para los eventos.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                                <td class="text-justify">
                                                    Consulta las responsabilidades que te fueron asignadas.
                                                </td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% if user.is_authenticated and perms.people.list_people %}
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title" href="{% url 'people:people-list' %}">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Personas
                                    </a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <strong>Herramientas para usuarios autorizados</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                                <td class="text-justify">
                                                    Administra la lista de personas relacionadas a
                                                    la iglesia.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title" href="{% url 'songs:songs-list' %}">
                                <span class="glyphicon glyphicon-music"></span>
                                Gestor de canciones
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                {% if user.is_authenticated %}
                                    <tr>
                                        <td colspan="2">
                                            <strong>Servicio público</strong>
                                        </td>
                                    </tr>
                                {% endif %}
                                    <tr>
                                        <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                        <td class="text-justify">
                                            Descarga letras de canciones en presentaciones PowerPoint.
                                        </td>
                                    </tr>
                                {% if user.is_authenticated %}
                                    <tr>
                                        <td colspan="2">
                                            <strong>Herramientas para usuarios autorizados</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                        <td class="text-justify">
                                            Crea y modifica canciones en los idiomas alemán, inglés
                                            o español.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                        <td class="text-justify">
                                            Agrega autores, himnarios, copyright, ritmo y otras
                                            propiedades a cada canción.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                        <td class="text-justify">
                                            Importa y exporta canciones en el formato
                                            <a href="http://openlyrics.info/" target="_blank"
                                               title="www.openlyrics.info"><i>OpenLyrics</i></a>,
                                            un estándar XML abierto creado para canciones cristianas.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="glyphicon glyphicon-star-empty"></span></td>
                                        <td class="text-justify">
                                            Crea y modifica estilos de presentación para descargar
                                            PowerPoints con varios idiomas y un formato unificado.
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        {% endblock %}

    {% block javascript %}
        <script type="text/javascript">
            (function () {  // start of closure
                $(document).ready(function () {
                    // check if browser is different from chrome
                    if ( !(!!window.chrome && !!window.chrome.webstore) )
                    {
                        // search for cookie
                        var i, c, found = false, c_name = 'isNotChrome=';
                        var c_list = document.cookie.split(';');
                        for (i = 0; i < c_list.length; i++)
                        {
                            c = c_list[i];
                            if (c.indexOf(c_name) != -1)
                            {
                                found = true;
                            }
                        }

                        if (!found)
                        {
                            document.cookie = c_name + '1';
                            var s = 'Parece que usted está utilizando un navegador distinto a Chrome.'
                                + '\n\n'
                                + 'Se recomienda utilizar el navegador Chrome.'
                                + '\n\n'
                                + 'Si continua utilizando con este navegador pueder ser que algunas partes '
                                + 'no tengan el aspecto visual intensionado por los desarrolladores.';
                            alert(s);
                        }
                    }
                });
            })();   // end of closure
        </script>
    {% endblock %}
