{% load staticfiles %}

        <!-- login modal -->
        <div class="modal fade" id="m_loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title">
                            Iniciar sesión
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-justify">
                                    {{ website_info.login_text.0 }}
                                    <a href="#m_collapseMore" data-toggle="collapse">
                                        <small>Más información</small>
                                    </a>
                                </p>
                            </div>
                            <div class="col-sm-12">
                                <div class="collapse" id="m_collapseMore">
                                    <p class="text-justify">
                                        {{ website_info.login_text.1 }}
                                    </p>
                                    <p class="text-justify">
                                        {{ website_info.login_text.2 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                                    <img class="img-responsive" src="{% static 'images/login-facebook.png' %}"
                                         alt="facebook-logo">
                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-sm-12">
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                                    <img class="img-responsive" src="{% static 'images/login-google.png' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
