<!-- Paginator -->
                        <div class="panel-heading my-panel-heading">
                            <nav>
                                <ul class="pager my-pager">
                                {% if page.has_previous %}
                                    <li class="previous">
                                        <a class="my-pager-link" title="Página anterior"
                                           href="?{{ params }}&page={{ page.previous_page_number }}">
                                            <span>&larr;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="previous disabled">
                                        <a class="my-pager-link" title="No hay elementos anteriores"
                                           href="#">
                                            <span>&larr;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                    <li>Página {{ page.number }} de {{ page.paginator.num_pages }}</li>
                                {% if page.has_next %}
                                    <li class="next">
                                        <a class="my-pager-link" title="Página siguiente"
                                           href="?{{ params }}&page={{ page.next_page_number }}">
                                            <span>&rarr;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="next disabled">
                                        <a class="my-pager-link" title="No hay elementos siguientes"
                                           href="#">
                                            <span>&rarr;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>
