<!--record access info-->
                        <div class="row crud-access-info">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>Creación:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                            <strong>{{ elem.row_time_insert|date:'d-m-Y' }}</strong>
                                            a las
                                            <strong>{{ elem.row_time_insert|date:'H:i' }}</strong>
                                            por
                                            <strong title="{{ elem.row_user_insert.profile }}">
                                                {{ elem.row_user_insert.profile|truncatechars:20 }}
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p>Última modificación:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p>
                                            <strong>{{ elem.row_time_update|date:'d-m-Y' }}</strong>
                                            a las
                                            <strong>{{ elem.row_time_update|date:'H:i' }}</strong>
                                            por
                                            <strong title="{{ elem.row_user_update.profile }}">
                                                {{ elem.row_user_update.profile|truncatechars:20 }}
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
