<!-- navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="dropdown">
                        <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button"
                           href="#">
                            {{ website_info.title }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">
                                <span class="glyphicon glyphicon-calendar"></span>
                                Calendario
                            </li>
                            <li>
                                <a href="{% url 'planners:start-page' %}">
                                    Inicio
                                </a>
                            </li>
                    {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'planners:calendars-list' %}">
                                    Calendarios
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'planners:events-list-all' %}">
                                    Eventos
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'planners:events-editable' %}">
                                    Planificación de eventos
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'planners:user-responsibilities' %}">
                                    Mis responsabilidades
                                </a>
                            </li>
                    {% endif %}
                            <li class="divider" role="separator"></li>
                            <li class="dropdown-header">
                                <span class="glyphicon glyphicon-music"></span>
                                Gestor de canciones
                            </li>
                            <li>
                                <a href="{% url 'songs:songs-list' %}">
                                    Canciones
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'songs:authors-list' %}">
                                    Autores
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'songs:songbooks-list' %}">
                                    Himnarios
                                </a>
                            </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'songs:styles-list' %}">
                                    Estilos de presentación
                                </a>
                            </li>
                        {% endif %}
                {% if user.is_authenticated %}
                    {% if perms.people.list_people %}
                            <li class="divider" role="separator"></li>
                            <li class="dropdown-header">
                                <span class="glyphicon glyphicon-user"></span>
                                Personas
                            </li>
                            <li>
                                <a href="{% url 'people:people-list' %}">
                                    Personas
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'people:birthday-list' %}">
                                    Lista de cumpleaños
                                </a>
                            </li>
                        {% if perms.people.list_marriages %}
                            <li>
                                <a href="{% url 'people:marriages-list' %}">
                                    Matrimonios
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.people.list_groups %}
                            <li>
                                <a href="{% url 'people:groups-list' %}">
                                    Grupos
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if perms.accounts.list_users or perms.auth.change_group %}
                            <li class="divider" role="separator"></li>
                            <li class="dropdown-header">
                                <span class="glyphicon glyphicon-cog"></span>
                                Administración
                            </li>
                            <li>
                                <a href="{% url 'accounts:users-list' %}">
                                    Usuarios
                                </a>
                            </li>
                        {% if perms.auth.change_group %}
                            <li>
                                <a href="{% url 'accounts:roles-list' %}">
                                    Roles
                                </a>
                            </li>
                        {% endif %}
                        {% if user.username == admin_username %}
                            <li>
                                <a href="{% url 'accounts:email-list' %}">
                                    Emails
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:session-list' %}">
                                    Sesiones
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:system-status' %}">
                                    Estado del sistema
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-right">
                        <p class="navbar-text">
                            {% now 'd-m-Y' %} &nbsp; {% now 'H:i' %}
                        </p>
                    {% if user.is_authenticated %}
                        <p class="navbar-text">
                            <a class="navbar-link" href="{% url 'accounts:profile' %}"
                               title="Ver mi perfil">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ user.profile|truncatechars:20 }}
                            </a>
                        </p>
                        <p class="navbar-text">
                            <a class="navbar-link" href="{% url 'accounts:logout' %}" title="Cerrar sesión">
                                <span class="glyphicon glyphicon-off"></span>
                                <span class="visible-xs-inline">Cerrar sesión</span>
                            </a>
                        </p>
                    {% else %}
                        <p class="navbar-text">
                            <a class="navbar-link" title="Iniciar sesión" href="#m_loginModal"
                               data-toggle="modal">
                                Iniciar sesión
                            </a>
                        </p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>
