<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
    <head>
        <title>{{ website_info.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="{{ website_info.title }} {{ website_info.version }}">
        <meta name="author" content="{{ website_info.author }}">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bs-datepicker/css/bootstrap-datepicker3.min.css' %}">
        <link rel="stylesheet" href="{% static 'footable/css/footable.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- CSS styles for this template -->
    {% block css %}
    {% endblock %}

        <!--Copyright (C) 2015 Ralf Funk-->
        <!--This Source Code Form is subject to the terms of the Mozilla Public-->
        <!--License, v. 2.0. If a copy of the MPL was not distributed with this-->
        <!--file, You can obtain one at http://mozilla.org/MPL/2.0/.-->
    </head>

    <body>
        {% include 'stub_navbar.html' %}

        <!-- body_content -->
    {% block body_content %}
    {% endblock %}

        <!-- sticky_footer -->
        <footer class="footer my-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="text-muted" href="{% url 'about-page' %}">
                            Acerca de este sitio
                        </a>
                        <a class="text-muted pull-right" href="{% url 'help-page' %}">
                            Ayuda
                        </a>
                    </div>
                </div>
            </div>
        </footer>

    {% if not user.is_authenticated %}
        {% include 'login_modal.html' %}
    {% endif %}

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bs-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'bs-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
        <script src="{% static 'footable/js/footable.min.js' %}"></script>
    {% if not user.is_authenticated %}
        <script src="{% static 'js/login.js' %}"></script>
    {% endif %}

        <!-- JavaScript for this template -->
    {% block javascript %}
    {% endblock %}
    </body>
</html>
